.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
@font-face {
  font-family: "League Gothic";
  src: url("../fonts/leaguegothic.eot");
  src: url("../fonts/leaguegothic.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic.woff") format("woff"), url("../fonts/leaguegothic.ttf") format("truetype"), url("../fonts/leaguegothic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat light";
  src: url("../fonts/montserrat-light-webfont.eot");
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat-light-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat regular";
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format('embedded-opentype'), url("../fonts/icons.woff") format('woff'), url("../fonts/icons.ttf") format('truetype'), url("../fonts/icons.svgicomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  color: #002F3E;
  text-decoration: underline;
}
a img {
  margin-bottom: -4px;
  margin-bottom: -0.4rem;
}
a:hover {
  color: #C42C76;
}
p {
  margin: 0 0 16px 0;
  padding: 0;
}
ol,
ul {
  padding: 0 0 0 16px;
}
blockquote,
blockquote::before {
  color: #002F3E;
}
blockquote {
  margin: 16px;
}
blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  font-size: 3rem;
  height: 0;
  left: -16px;
  position: relative;
  top: -16px;
}
.entry-content code {
  background-color: #DEDEDE;
  color: #002F3E;
}
cite {
  font-style: normal;
}
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
p:empty {
  display: none;
}
.attachment a,
.gallery a {
  border: none;
}
ol li {
  list-style-type: decimal;
}
ul li {
  list-style-image: url('images/bullet.png');
  list-style-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%226px%22%20height%3D%226px%22%20viewBox%3D%220%200%206%206%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%203.6.1%20(26313)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3Ebullet%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20id%3D%22bullet%22%20fill%3D%22%23002F3E%22%20x%3D%220%22%20y%3D%220%22%20width%3D%226%22%20height%3D%226%22%3E%3C%2Frect%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}
ol ol,
ul ul {
  margin-bottom: 0;
}
.infoblock {
  background: #F0F0F0;
  border: 1px solid #E0DFDF;
  padding: 1em;
  margin: 1em 0;
}
img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 16px;
}
.alignleft {
  float: left;
  text-align: left;
}
.alignright {
  float: right;
  text-align: right;
}
img.alignleft,
.wp-caption.alignleft {
  margin: 5.33333333px 8px 16px 0;
}
img.alignright,
.wp-caption.alignright {
  margin: 5.33333333px 0 16px 8px;
}
.wp-caption.alignnone {
  margin: 5.33333333px 0 0 0;
}
.wp-caption + p,
.wp-caption + ol,
.wp-caption + ul,
.wp-caption + h2 {
  clear: both;
}
.image-examples,
.nietzomaarzo {
  clear: both;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1em;
}
@media only screen and (min-width: 650px) {
  .image-examples,
  .nietzomaarzo {
    background: #DEDEDE;
    display: flex;
  }
}
.image-examples .wp-caption-text,
.nietzomaarzo .wp-caption-text {
  border-bottom-style: none;
  font-size: 1.6rem;
}
.image-examples .good-example,
.nietzomaarzo .good-example,
.image-examples .bad-example,
.nietzomaarzo .bad-example,
.image-examples .wp-caption,
.nietzomaarzo .wp-caption {
  width: 100%;
  max-width: 100% !important;
  padding: 1.5em;
}
@media only screen and (max-width: 600px) {
  .image-examples .good-example,
  .nietzomaarzo .good-example,
  .image-examples .bad-example,
  .nietzomaarzo .bad-example,
  .image-examples .wp-caption,
  .nietzomaarzo .wp-caption {
    border: 0.5em solid #DEDEDE;
    border-top-width: .25em;
    border-bottom-width: .25em;
    margin-top: 0;
  }
  .image-examples .good-example:first-of-type,
  .nietzomaarzo .good-example:first-of-type,
  .image-examples .bad-example:first-of-type,
  .nietzomaarzo .bad-example:first-of-type,
  .image-examples .wp-caption:first-of-type,
  .nietzomaarzo .wp-caption:first-of-type {
    border-top-width: .5em;
  }
  .image-examples .good-example:last-of-type,
  .nietzomaarzo .good-example:last-of-type,
  .image-examples .bad-example:last-of-type,
  .nietzomaarzo .bad-example:last-of-type,
  .image-examples .wp-caption:last-of-type,
  .nietzomaarzo .wp-caption:last-of-type {
    border-bottom-width: .5em;
  }
}
@media only screen and (min-width: 600px) {
  .image-examples .good-example,
  .nietzomaarzo .good-example,
  .image-examples .bad-example,
  .nietzomaarzo .bad-example,
  .image-examples .wp-caption,
  .nietzomaarzo .wp-caption {
    max-width: 49% !important;
    width: 49%;
    flex: 1;
    margin: 1% .5% 1% .5%;
  }
}
.image-examples .wp-caption,
.nietzomaarzo .wp-caption {
  text-align: center;
  background: #fff;
}
@media only screen and (min-width: 600px) {
  .image-examples .wp-caption:first-of-type,
  .nietzomaarzo .wp-caption:first-of-type {
    margin-left: 1%;
  }
  .image-examples .wp-caption:last-of-type,
  .nietzomaarzo .wp-caption:last-of-type {
    margin-right: 1%;
  }
}
.image-examples .good-example,
.nietzomaarzo .good-example,
.image-examples .bad-example,
.nietzomaarzo .bad-example {
  position: relative;
}
.image-examples .good-example:after,
.nietzomaarzo .good-example:after,
.image-examples .bad-example:after,
.nietzomaarzo .bad-example:after {
  content: ' ';
  color: #fff;
  text-indent: 25px;
  display: block;
  border-radius: 8px;
  background-color: #1BB24B;
  position: absolute;
  top: 4px;
  right: 4px;
  background-repeat: no-repeat;
  background-position: -10px center;
  background-size: 75% 75%;
  padding-right: 5px;
}
.image-examples .good-example:after,
.nietzomaarzo .good-example:after {
  content: 'maar zo';
  background-color: #1BB24B;
  background-image: url('images/icon-circle-check.svg');
  background-position: -20px center;
}
.image-examples .bad-example:after,
.nietzomaarzo .bad-example:after {
  content: 'niet zo';
  background-color: #C42C76;
  background-image: url('images/icon-circle-error.svg');
  background-position: -15px center;
  text-indent: 24px;
}
.wp-caption-text {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid #ddd;
  line-height: 1.4;
  padding: 8px 0;
}
.alignright .wp-caption-text {
  margin-left: 10px;
  margin-bottom: 0 !important;
}
.alignleft .wp-caption-text {
  margin-right: 10px;
  margin-bottom: 0 !important;
}
.gallery-caption {
  border-bottom: none;
}
/* Tables
  --------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.4;
  margin-bottom: 16px;
  width: 100%;
}
table .time {
  width: 20%;
  min-width: 80px;
}
table .topic,
table .presentor {
  width: 30%;
}
table .topic {
  width: 45%;
}
table th,
table td {
  text-align: left;
  vertical-align: top;
  padding-bottom: .4em;
}
table th {
  font-family: 'Montserrat regular', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
b,
strong {
  font-weight: bold;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -o-hyphens: manual;
  hyphens: manual;
}
/* Headings
    --------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
  margin: 8px 0 4px;
  padding: 1em 0 .3em 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #002F3E;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus,
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
  color: #C42C76;
  text-decoration: underline;
}
h1 {
  font-size: 29px;
  font-size: 2.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'League Gothic', Impact, Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.content h2 {
  letter-spacing: 1px;
  font-size: 28px;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-family: 'League Gothic', Impact, Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h3,
.sidebar h2 {
  font-size: 18px;
  font-size: 1.8rem;
}
h4 {
  font-size: 17px;
  font-size: 1.7rem;
}
h5 {
  font-size: 16px;
  font-size: 1.6rem;
}
h6 {
  font-size: 15px;
  font-size: 1.5rem;
}
body#error-page {
  background: #002F3E;
  padding-bottom: 3em;
}
body.login,
#error-page {
  background: #002F3E;
  padding-bottom: 3em;
  /*
    Social login Widget
    ---------------------------------------------------------------------------------------------------- */
}
body.login div#login,
#error-page div#login {
  padding-top: 2%;
  color: #002F3E;
  font-family: 'Montserrat light', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.625;
}
body.login div#login h1 a,
#error-page div#login h1 a {
  background-image: url(../images/meisje-gebruiker-centraal.png);
  padding-bottom: 30px;
}
body.login div#login form#loginform p,
#error-page div#login form#loginform p,
body.login div#login form#lostpasswordform p,
#error-page div#login form#lostpasswordform p,
body.login div#login form#registerform p,
#error-page div#login form#registerform p,
body.login div#login form#loginform label,
#error-page div#login form#loginform label,
body.login div#login form#lostpasswordform label,
#error-page div#login form#lostpasswordform label,
body.login div#login form#registerform label,
#error-page div#login form#registerform label {
  color: #002F3E;
}
body.login div#login form#loginform p.submit,
#error-page div#login form#loginform p.submit,
body.login div#login form#lostpasswordform p.submit,
#error-page div#login form#lostpasswordform p.submit,
body.login div#login form#registerform p.submit,
#error-page div#login form#registerform p.submit {
  clear: both;
}
body.login div#login form#loginform p.submit input#wp-submit,
#error-page div#login form#loginform p.submit input#wp-submit,
body.login div#login form#lostpasswordform p.submit input#wp-submit,
#error-page div#login form#lostpasswordform p.submit input#wp-submit,
body.login div#login form#registerform p.submit input#wp-submit,
#error-page div#login form#registerform p.submit input#wp-submit {
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  width: auto;
  padding: 8px;
  border: 2px solid #0f6229;
  padding: 8px 32px 8px 16px;
  border-radius: 0;
  background: #0f6229 url('images/icon-knop-groen.png') no-repeat right center;
  background-image: url('images/icon-knop-groen.svg'), none;
  background: #0f6229 url('images/arrow-wit.png') no-repeat right center;
  background-image: url('images/arrow-wit.svg'), none;
  font-family: 'League Gothic', Impact, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: normal;
  height: auto !important;
  line-height: 1 !important;
  text-shadow: none;
  border-radius: 4px;
}
body.login div#login form#loginform p.submit input#wp-submit:hover,
#error-page div#login form#loginform p.submit input#wp-submit:hover,
body.login div#login form#lostpasswordform p.submit input#wp-submit:hover,
#error-page div#login form#lostpasswordform p.submit input#wp-submit:hover,
body.login div#login form#registerform p.submit input#wp-submit:hover,
#error-page div#login form#registerform p.submit input#wp-submit:hover,
body.login div#login form#loginform p.submit input#wp-submit:active,
#error-page div#login form#loginform p.submit input#wp-submit:active,
body.login div#login form#lostpasswordform p.submit input#wp-submit:active,
#error-page div#login form#lostpasswordform p.submit input#wp-submit:active,
body.login div#login form#registerform p.submit input#wp-submit:active,
#error-page div#login form#registerform p.submit input#wp-submit:active,
body.login div#login form#loginform p.submit input#wp-submit:focus,
#error-page div#login form#loginform p.submit input#wp-submit:focus,
body.login div#login form#lostpasswordform p.submit input#wp-submit:focus,
#error-page div#login form#lostpasswordform p.submit input#wp-submit:focus,
body.login div#login form#registerform p.submit input#wp-submit:focus,
#error-page div#login form#registerform p.submit input#wp-submit:focus {
  color: #0f6229;
  text-decoration: underline;
  background: #fff url('images/icon-knop-groen-hover.png') no-repeat right center;
  background-image: url('images/icon-knop-groen-hover.svg'), none;
}
body.login div#login form#loginform input#user_login,
#error-page div#login form#loginform input#user_login,
body.login div#login form#lostpasswordform input#user_login,
#error-page div#login form#lostpasswordform input#user_login,
body.login div#login form#registerform input#user_login,
#error-page div#login form#registerform input#user_login,
body.login div#login form#loginform input#user_pass,
#error-page div#login form#loginform input#user_pass,
body.login div#login form#lostpasswordform input#user_pass,
#error-page div#login form#lostpasswordform input#user_pass,
body.login div#login form#registerform input#user_pass,
#error-page div#login form#registerform input#user_pass,
body.login div#login form#loginform input#user_email,
#error-page div#login form#loginform input#user_email,
body.login div#login form#lostpasswordform input#user_email,
#error-page div#login form#lostpasswordform input#user_email,
body.login div#login form#registerform input#user_email,
#error-page div#login form#registerform input#user_email {
  background-color: #fff;
  box-shadow: 1px 1px 3px #eee inset;
  color: #002F3E;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 8px;
  border: 2px solid #002F3E;
  width: 100%;
}
body.login div#login form#lostpasswordform p.submit input#wp-submit,
#error-page div#login form#lostpasswordform p.submit input#wp-submit {
  padding-left: 3px;
  text-align: right;
  white-space: normal;
}
body.login div#login #nav,
#error-page div#login #nav,
body.login div#login #backtoblog,
#error-page div#login #backtoblog,
body.login div#login #nav a,
#error-page div#login #nav a,
body.login div#login #backtoblog a,
#error-page div#login #backtoblog a {
  color: #fff;
}
body.login .wp-social-login-widget,
#error-page .wp-social-login-widget {
  overflow: hidden;
}
body.login .wp-social-login-widget a,
#error-page .wp-social-login-widget a {
  padding: 0 10px;
  margin: 0;
  color: #fff;
  text-decoration: none !important;
  background: #3b5998;
  border: 1px solid #fff;
  display: block;
  float: left;
  margin: 0 4px 4px 0;
  border-radius: 3px;
}
body.login .wp-social-login-widget a:before,
#error-page .wp-social-login-widget a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e600";
  line-height: 1.3em;
  margin-top: 4px;
  margin-right: 2px;
  display: inline-block;
  text-align: center;
}
body.login .wp-social-login-widget a:focus,
#error-page .wp-social-login-widget a:focus,
body.login .wp-social-login-widget a:hover,
#error-page .wp-social-login-widget a:hover,
body.login .wp-social-login-widget a:active,
#error-page .wp-social-login-widget a:active {
  text-decoration: none !important;
}
body.login .wp-social-login-widget a span,
#error-page .wp-social-login-widget a span {
  float: right;
}
body.login .wp-social-login-widget .wp-social-login-provider-facebook,
#error-page .wp-social-login-widget .wp-social-login-provider-facebook {
  background: #3b5998;
}
body.login .wp-social-login-widget .wp-social-login-provider-facebook:before,
#error-page .wp-social-login-widget .wp-social-login-provider-facebook:before {
  content: "\e604";
}
body.login .wp-social-login-widget .wp-social-login-provider-facebook:hover,
#error-page .wp-social-login-widget .wp-social-login-provider-facebook:hover,
body.login .wp-social-login-widget .wp-social-login-provider-facebook:focus,
#error-page .wp-social-login-widget .wp-social-login-provider-facebook:focus {
  border: 1px solid #3b5998;
  color: #3b5998;
  background: #fff;
}
body.login .wp-social-login-widget .wp-social-login-provider-twitter,
#error-page .wp-social-login-widget .wp-social-login-provider-twitter {
  background: #00aced;
}
body.login .wp-social-login-widget .wp-social-login-provider-twitter:before,
#error-page .wp-social-login-widget .wp-social-login-provider-twitter:before {
  content: "\e605";
}
body.login .wp-social-login-widget .wp-social-login-provider-twitter:hover,
#error-page .wp-social-login-widget .wp-social-login-provider-twitter:hover,
body.login .wp-social-login-widget .wp-social-login-provider-twitter:focus,
#error-page .wp-social-login-widget .wp-social-login-provider-twitter:focus {
  border: 1px solid #00aced;
  color: #00aced;
  background: #fff;
}
body.login .wp-social-login-widget .wp-social-login-provider-google,
#error-page .wp-social-login-widget .wp-social-login-provider-google {
  background: #dd4b39;
}
body.login .wp-social-login-widget .wp-social-login-provider-google:before,
#error-page .wp-social-login-widget .wp-social-login-provider-google:before {
  content: "\e600";
}
body.login .wp-social-login-widget .wp-social-login-provider-google:hover,
#error-page .wp-social-login-widget .wp-social-login-provider-google:hover,
body.login .wp-social-login-widget .wp-social-login-provider-google:focus,
#error-page .wp-social-login-widget .wp-social-login-provider-google:focus {
  border: 1px solid #dd4b39;
  color: #dd4b39;
  background: #fff;
}
body.login .wp-social-login-widget .wp-social-login-provider-linkedin,
#error-page .wp-social-login-widget .wp-social-login-provider-linkedin {
  background: #007bb6;
}
body.login .wp-social-login-widget .wp-social-login-provider-linkedin:before,
#error-page .wp-social-login-widget .wp-social-login-provider-linkedin:before {
  content: "\e601";
}
body.login .wp-social-login-widget .wp-social-login-provider-linkedin:hover,
#error-page .wp-social-login-widget .wp-social-login-provider-linkedin:hover,
body.login .wp-social-login-widget .wp-social-login-provider-linkedin:focus,
#error-page .wp-social-login-widget .wp-social-login-provider-linkedin:focus {
  border: 1px solid #007bb6;
  color: #007bb6;
  background: #fff;
}
body.login .wp-social-login-widget .wp-social-login-provider-list,
#error-page .wp-social-login-widget .wp-social-login-provider-list {
  padding: 0;
}
