/*
 * For adding small overrides for a subsite which don't really need their own theme / plugin
 */


// Direct Duidelijk

@dd-logo-width:   12rem;

.site-id-30 {
  .footer-widget-area {
    .widget + .widget {
      margin-top: @gutter;
    }
  }

  .footer-widgets .widget-area {
    @media @tablet {
      width: ~"calc(50% - @{gutter})";
    }
  }

  .footer-widgets-2 {
    position: relative;

    @media @tablet_only {
      margin-top: @gutter;
      padding-top: 11rem;
    }

    @media @tablet {
      padding-left: ~"calc(@{dd-logo-width} + 3rem)";
    }

    &:before {
      .gc-box-shadow;
      content: " ";
      width: @dd-logo-width;
      height: 8.5rem;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      background: @white url('../images/subsites/dd-checkmark.svg') center center no-repeat;
      background-size: auto 60%;
    }
  }

  .custom-html-widget {
    background: none;
    padding: 0;
  }
}

// NL design sysem
.site-id-26 {

  &.page-template-page_template_overzichtspagina .inleiding {
    background: @nlds_purplish;
  }
  
  &.home .manifest {
    background: @nlds_purplish;
    header {
      background: darken( @nlds_purplish, 10% );
    }
  }
}
