<div class="l-filter-wrapper">

    <form id="tp-filters" class="form form--filters">

        <div class="form-item form-item--checkbox form-item--filter">
            <input type="checkbox" id="commitment">
            <label for="commitment">Commitment</label>
        </div>

        <div class="form-item form-item--checkbox form-item--filter">
            <input type="checkbox" id="gebruiksgemak">
            <label for="gebruiksgemak">Gebruiksgemak</label>
        </div>

        <div class="form-item form-item--checkbox form-item--filter">
            <input type="checkbox" id="informatieveiligheid">
            <label for="informatieveiligheid">Informatieveiligheid</label>
        </div>

        <div class="form-item form-item--checkbox form-item--filter">
            <input type="checkbox" id="kanaalsturing">
            <label for="kanaalsturing">Kanaalsturing</label>
        </div>

        <div class="form-item form-item--checkbox form-item--filter">
            <input type="checkbox" id="procesaanpak">
            <label for="procesaanpak">Procesaanpak</label>
        </div>

        <div class="form-item form-item--checkbox form-item--filter">
            <input type="checkbox" id="samenwerking">
            <label for="samenwerking">Samenwerking</label>
        </div>

        <div class="form-item form-item--checkbox form-item--filter">
            <input type="checkbox" id="inclusie">
            <label for="inclusie">Inclusie</label>
        </div>

    </form>
</div>
