<div class="grid grid--col-4">

    <div class="tipkaart tipkaart--gebruiksgemak">
        <a class="tipkaart__link" class=tipkaart__link" title="Test met échte gebruikers" href="#">
            <span class="tipkaart__nummer">Tip 72</span>

            <h3 class="tipkaart__title">Test met échte gebruikers</h3>

            <div class="tipkaart__categorie">
                <svg class="icon icon--medium icon--tipkaart" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/wp-content/themes/ictuwp-theme-gebruikercentraal/images/svg/optimaal-digitaal/defs/svg/sprite.defs.svg#gebruiksgemak"></use>
                </svg>
                <span class="name">Gebruiksgemak</span>
            </div>

        </a>
    </div>

    <div class="tipkaart tipkaart--informatieveiligheid">
        <a class="tipkaart__link" class=tipkaart__link" title="Neem als bestuurder verant­woordelijkheid voor informatie­veiligheid" href="#">

            <span class="tipkaart__nummer">Tip 94</span>
            <h3 class="tipkaart__title">Neem als bestuurder verant­woordelijkheid voor informatie­veiligheid</h3>

            <div class="tipkaart__categorie">
                <svg class="icon icon--medium icon--tipkaart" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/wp-content/themes/ictuwp-theme-gebruikercentraal/images/svg/optimaal-digitaal/defs/svg/sprite.defs.svg#informatieveiligheid"></use>
                </svg>
                <span class="name">Informatieveiligheid</span>
            </div>
        </a>
    </div>

    <div class="tipkaart tipkaart--commitment">
        <a class="tipkaart__link" class=tipkaart__link" title="Neem als bestuurder verant­woordelijkheid voor informatie­veiligheid" href="#">

            <span class="tipkaart__nummer">Tip 44</span>
            <h3 class="tipkaart__title">Leg gemeen-schappelijke uitgangs-punten vast</h3>

            <div class="tipkaart__categorie">
                <svg class="icon icon--medium icon--tipkaart" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/wp-content/themes/ictuwp-theme-gebruikercentraal/images/svg/optimaal-digitaal/defs/svg/sprite.defs.svg#commitment"></use>
                </svg>
                <span class="name">Commitment</span>
            </div>
        </a>
    </div>

    <div class="tipkaart tipkaart--procesaanpak">
        <a class="tipkaart__link" class=tipkaart__link" title="Neem als bestuurder verant­woordelijkheid voor informatie­veiligheid" href="#">

            <span class="tipkaart__nummer">Tip 23</span>
            <h3 class="tipkaart__title">Ga gewoon van start, verbeter gaandeweg</h3>

            <div class="tipkaart__categorie">
                <svg class="icon icon--medium icon--tipkaart" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/wp-content/themes/ictuwp-theme-gebruikercentraal/images/svg/optimaal-digitaal/defs/svg/sprite.defs.svg#procesaanpak"></use>
                </svg>
                <span class="name">Procesaanpak</span>
            </div>
        </a>
    </div>

    <div class="tipkaart tipkaart--kanaalsturing">
        <a class="tipkaart__link" class=tipkaart__link" title="Gebruik het juiste kanaal op het juiste moment" href="#">

            <span class="tipkaart__nummer">Tip 104</span>
            <h3 class="tipkaart__title">Gebruik het juiste kanaal op het juiste moment</h3>

            <div class="tipkaart__categorie">
                <svg class="icon icon--medium icon--tipkaart" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/wp-content/themes/ictuwp-theme-gebruikercentraal/images/svg/optimaal-digitaal/defs/svg/sprite.defs.svg#kanaalsturing"></use>
                </svg>
                <span class="name">Kanaalsturing</span>
            </div>
        </a>
    </div>

    <div class="tipkaart tipkaart--samenwerking">
        <a class="tipkaart__link" class=tipkaart__link" title="Uniformeer en standaardiseer!" href="#">

            <span class="tipkaart__nummer">Tip 70</span>
            <h3 class="tipkaart__title">Uniformeer en standaardiseer!</h3>

            <div class="tipkaart__categorie">
                <svg class="icon icon--medium icon--tipkaart" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/wp-content/themes/ictuwp-theme-gebruikercentraal/images/svg/optimaal-digitaal/defs/svg/sprite.defs.svg#samenwerking"></use>
                </svg>
                <span class="name">Samenwerking</span>
            </div>
        </a>
    </div>

    <div class="tipkaart tipkaart--inclusie">
        <a class="tipkaart__link" class=tipkaart__link" title="Voel zelf wat de kwetsbare gebruiker voelt" href="#">

            <span class="tipkaart__nummer">Tip 114</span>
            <h3 class="tipkaart__title">Voel zelf wat de kwetsbare gebruiker voelt</h3>

            <div class="tipkaart__categorie">
                <svg class="icon icon--medium icon--tipkaart" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/wp-content/themes/ictuwp-theme-gebruikercentraal/images/svg/optimaal-digitaal/defs/svg/sprite.defs.svg#inclusie"></use>
                </svg>
                <span class="name">Inclusie</span>
            </div>
        </a>
    </div>

</div>
