
@import "00-mixins.less";          // colors, sizes 
@import "30-text-styles.less";     // font-styles, shared with admin editor-styles.less 


.write-defaults();


// @bodyfont: 'Montserrat', Helvetica, Arial, sans-serif;
@bodyfont: Helvetica, Arial, sans-serif;



body, .body_style, h1, h2, h3, h4, h5, h6, p, li, a, td {
	font-family: @bodyfont;
}
body, .body_style {
	font-size:12px;
	
	a {
    	font-weight: bold;
	}
}
body, .body_style, table.container {
	background-color: @wit;
	color:@blauw3;
}
table.content {
	background-color:@wit;
}
.width {
	max-width:700px;
}
.holder {
	padding:1.5%;
}
.branding_html {
    padding: @padding @padding @padding ( 2 * @padding );
	.fontsize( @fontsize_title_h3 );
	img {
    	width: auto;
    	max-height: 90px;
	}
}    
.title, h1 {
	text-transform: uppercase;
//    font-family: @bodyfont;
    font-weight: bold;
}
.title {
	.fontsize( @fontsize_title_h3 );
}
.email_content, table {
    &, 
    .contact_info,
    h1, h2, h3, h4, h5, h6 {
    	color: @txt;
    }
    h1, h2, h3, h4, h5, h6 {
        display:block;
        float: none;
        clear:both;
        font-weight:bold;
        text-transform:uppercase;
    }
    h1, h2, h3, h4, h5, h6 {
    	margin: @padding 0 ( @padding / 2 ) 0;
    	padding: 0;
    }
    h1 {
    	.fontsize( 24 );
    }
    h2 {
    	.fontsize( 22 );
    }
    h3 {
    	.fontsize( 20 );
    }
    h4 {
    	.fontsize( 18 );
    }
    h5 {
    	.fontsize( 16 );
    }
    h6 {
    	.fontsize( 14 );
    }
}
.from {
	font-weight: bold;
	font-size:12px;
	line-height:22px;
}
table.content td,
table.content p,
table.content li {
	font-size:12px;
	line-height:22px;
}
hr {
    border: 0;
    background: @light_gray;
    height: 2px;
    margin: ( @padding / 2 ) 0 ( @padding *  2 ) 0;

    display:block;
    float: none;
    clear:both;
    
}
.view_link, .unsubscribe {
	text-align: center;
	background-color:@blauw3;

    &, a {
        color: @wit;   
        font-size: 13px;
    	font-weight: normal;
    	line-height: 25px;
    }
}    
.blauwe_rand, .content_title, .title {
    background: @blauw3;
    color: @wit;
    h1, h2, h3, h4, h5, h6 {
        color: @wit;
    }
}
.schaap,
.email_content {
    background: @light_gray;
}    
.email_content {
    padding: @padding @padding @padding @padding;
}
.contact_info {
    padding: 0 @padding @padding @padding;
}
.email_content_wit {
    background: @wit;
    padding: @padding @padding @padding @padding;
    display: block;
    overflow: hidden;
    clear: both;
    float: none;
    img {
        max-width: 100%;
        height: auto;
        margin: 0 0 @padding 0;
//        border: 1px solid black;
    }
    img.alignleft,
    .alignleft img {
        margin: 0 @padding @padding 0;
        float: left;
    }
    img.alignright,
    .alignright img {
        margin: 0 0 @padding @padding;
        float: left;
//        border-color: green;
    }
}
.content_width table {
    max-width:90%;
}
.title {
    padding: @padding @padding @padding ( 2 * @padding );
    background: @blauw2;
}
.logo  {
    padding: 0 @padding 0 @padding;
    width: ( 80px + ( 1 * @padding ) );    

    img {
        width: 80px;
        height: 68px;
    }
}
.bottom img {
    vertical-align:bottom;
}