@import url('style-blessed1.css?z=1580393109823');

.section--resultaten .resultaten_block_image a:hover,
.section--resultaten .resultaten_block_image a:focus,
.section--resultaten .resultaten_block_image a:active {
  outline: 1px solid red;
}
.section--resultaten .resultaten_block_image img {
  margin: auto;
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.section--resultaten .label {
  background: #fff;
  color: #002F3E;
  position: absolute;
  right: 2rem;
  top: 2rem;
  padding: 0.75rem 1rem;
  line-height: 1;
}
.section--resultaten .label.nietzo,
.section--resultaten .label.maarzo {
  background-image: url('images/icon-dosdonts-do-white.svg');
  background-repeat: no-repeat;
  background-position: 1rem 0.75rem;
  background-size: 1.25rem 1.25rem;
  padding-left: 3rem;
}
.section--resultaten .label.nietzo {
  background-image: url('images/icon-dosdonts-dont-white.svg');
  background-color: #c73d19;
  color: #fff;
}
.section--resultaten .label.maarzo {
  background-image: url('images/icon-dosdonts-do-white.svg');
  background-color: #148839;
  color: #fff;
}
.section--resultaten .label.maarzo:before {
  content: ' ';
}
.section--resultaten h2,
.section--resultaten h3,
.section--resultaten h4 {
  margin-top: 0;
  padding-top: 0;
}