
// basisdingen om mee te kunnen rekenen ============================================
@pixel:                 	1px;
@viewport:              	100vw;
@basefontsize:          	10;
@basefont:              	( @basefontsize * @pixel );

@bigmargin:             	0;

@widget_area_button:    	40px;

@sidebar_marginright:   	( 4 * @padding );
@sidebar_margin_top:    	-143px;
@sidebar_width:         	( 17 * @padding );

@logo_mobile_width:			55px;
@logo_mobile_padding:		( @logo_mobile_width + 16px );
@logo_mobile_height:		55px;

@logo_desktop_width:		64px;
@logo_desktop_padding:		( @logo_desktop_width + 16px );
@logo_desktop_height:		64px;

@logogc_desktop_width:		116px;
@logogc_desktop_padding:	( @logogc_desktop_width + 16px );
@logogc_desktop_height:		68px;

@logogc_mobile_width:		60px;
@logogc_mobile_height:		38px;

//@gutter:                	16px; Nou nee,
@padding:               	16px;
@contentpadding:        	@padding;


@position_navbar:       	180px;
@height_navbar:         	43px;
@adminbar:              	32;
@headerheight:          	0;

@headerimage_height:    	150px;
@headerimage_height_1:  	400px;

@widget_first_margin:   	0;

// breedtes en hoogtes van elementen ===============================================
@programa_tijd_width: 		35%;
@programa_desc_width: 		( 99% - @programa_tijd_width );


@submenu_desktop_width:		21.66666667rem; // 260px;	// breedte van de submenu-UL op een desktop scherm
@mainmenu_mobile_width:		24.16666667rem; // 290px;	// breedte van het menu op een mobiel scherm en de ruimte die de content naar rechts wordt opgeschoven

// ==================================================================================
// uitgelichte afbeeldingen op archive-pagina's
@featimg_mobile_height:       40px;
@featimg_mobile_width:        40px;

@featimg_tablet_height:       100px;
@featimg_tablet_width:        150px;
@featimg_tablet_enorm_huge:   400px;

@featimg_desktop_height:      176px;
@featimg_desktop_width:       264px;
@featimg_desktop_enorm_huge:  550px;

// ==================================================================================
// pagination
@pagination_button_width:     30px;
@pagination_button_height:    33px;
@pagination_button_offset:    ( @padding / 2 );

// ==================================================================================
// dingen voor de widget
// ==================================================================================

@footerwidget_small:          110px;
@footerwidget_large:          140px;
@buttonwidth:                 28px;
@imageblock_lw:               50px;
@imageblock_mw:               100px;
@imageblock_fw:               150px;
@readmore_width:              24px;
@readmore_height:             32px;
@pijlgrootte:                 7px;
