


// Chart
@stepchart_label:                 @gc_a11y_green;


@stepchart_icon_bg:               @gc_orange;
@stepchart_icon_bg_hover:         @white;

@stepchart_icon_color:            @white;
@stepchart_icon_color_desktop:    @gc_greyblue;


// Nav

@stepnav_icon_bg:                 @gc_orange;
@stepnav_icon_color:              @white;

@stepnav_icon_active_bg:          @gc_orange;
@stepnav_icon_active_color:       @white;