// Default variables for textblocks 


@tb_primary_bg:                @gc_a11y_green;
@tb_primary_color:             @white;
@tb_primary_heading:           @white;

@tb_secondary_bg:              @gc_pink;
@tb_secondary_color:           @white;
@tb_secondary_heading:         @white;