// Default variables for textblocks 



@tb_color_bg:       @intro_bg;
@tb_color:          @intro_color;
@tb_heading:        @intro_color;


@tb_btn_bg:         @white;
@tb_btn_color:      @gc_blue_dark;
@tb_btn_arrow_bg:   @gc_blue_xlight;