<div class="card card--tipkaart tipkaart commitment">

  <a href="#" class="tipkaart__link">
    <span class="tipnummer">Tip 108</span>

    <h2 class="card__title">Spreek de taal van alle betrokkenen</h2>

    <span class="tipkaart__categorie">
      Commitment
    </span>
  </a>
</div>

<div class="card card--tipkaart tipkaart gebruiksgemak">

  <a href="#" class="tipkaart__link">
    <span class="tipnummer">Tip 98</span>
    <h2 class="card__title">Maak het makkelijk voor iedereen</h2>

    <span class="tipkaart__categorie">
      Gebruiksgemak
    </span>
  </a>
</div>

<div class="card card--tipkaart tipkaart informatieveiligheid">

  <a href="#" class="tipkaart__link">
    <span class="tipnummer">Tip 109</span>
    <h2 class="card__title">Richt je op werk én prive </h2>

    <span class="tipkaart__categorie">
      Informatieveiligheid
    </span>
  </a>
</div>


<div class="card card--tipkaart tipkaart kanaalsturing">
  <a href="#" class="tipkaart__link">
    <span class="tipnummer">Tip 104</span>
    <h2 class="card__title">Gebruik het juiste kanaal op het juiste moment</h2>

    <span class="tipkaart__categorie">
      Kanaalsturing
    </span>
  </a>
</div>


<div class="card card--tipkaart tipkaart procesaanpak">
  <a href="#" class="tipkaart__link">
    <span class="tipnummer">Tip 105</span>
    <h2 class="card__title">Voel zelf eens wat de klant voelt</h2>

    <span class="tipkaart__categorie">
      Procesaanpak
    </span>
  </a>
</div>


<div class="card card--tipkaart tipkaart samenwerking">
  <a href="#" class="tipkaart__link">
    <span class="tipnummer">Tip 106</span>
    <h2 class="card__title">Maak 'bondjes'</h2>

    <span class="tipkaart__categorie">
      Samenwerking
    </span>
  </a>
</div>


<div class="card card--tipkaart tipkaart inclusie">
  <a href="#" class="tipkaart__link">
    <span class="tipnummer">Tip 113</span>
    <h2 class="card__title">Wees je bewust van diversiteit binnen een doelgroep</h2>

    <span class="tipkaart__categorie">
      Inclusie
    </span>
  </a>
</div>

