


<div class="card card--doelgroep poppetje-1">
  <div class="card__image">

  </div>
  <div class="card__content">
    <h2 class="card__title">
      <a class="arrow-link" href="#">
        <span class="arrow-link__descr">Ontwerpen voor</span>
        <span class="arrow-link__text">Autisme</span>
        <span class="arrow-link__icon"></span>
      </a>
    </h2>

    <div class="tegeltje"><p>“Ik weet niet wat er gebeurt als ik een keuze maak.”</p>
      <p><strong>Bart, 29</strong></p></div>
  </div>
</div>

<div class="card card--doelgroep poppetje-2">
  <div class="card__image">

  </div>
  <div class="card__content">
    <h2 class="card__title">
      <a class="arrow-link" href="#">
        <span class="arrow-link__descr">Ontwerpen voor</span>
        <span class="arrow-link__text">Ouderen</span>
        <span class="arrow-link__icon"></span>
      </a>
    </h2>
    <div class="tegeltje"><p>“Ik begin er niet meer aan, ik laat het over aan mijn kinderen.”</p>
      <p><strong>Carla, 82</strong></p></div>
  </div>
</div>

<div class="card card--doelgroep poppetje-3">
  <div class="card__image">

  </div>
  <div class="card__content">
    <h2 class="card__title">
      <a class="arrow-link" href="#">
        <span class="arrow-link__descr">Ontwerpen voor</span>
        <span class="arrow-link__text">Laaggeletteren</span>
        <span class="arrow-link__icon"></span>
      </a>
    </h2>
    <div class="tegeltje"><p>“Als ik zie dat ik iets moet typen dan begin ik er al niet aan”</p>
      <p><strong>Dick, 25</strong></p></div>
  </div>
</div>

