<section class="download-box">
    <h3>Retourformulier bewijsstukken kwijtschelding
        afvalstoffenheffing</h3>

    <a href="#" class="btn btn--download" download="" aria-label="Download Retourformulier bewijsstukken kwijtschelding afvalstoffenheffing">Download</a>

    <dl class="meta-data">
        <dt class="visuallyhidden">File size</dt>
        <dd>81.91KB<!--<dd--></dd>
        <dt class="visuallyhidden">File type</dt>
        <dd>JPEG<!--<dd--></dd>
    </dl>
</section>