<div class="section section--spotlight">
    <div class="l-spotlight-wrapper l-item-count-1">
        <div class="spotlight">

            <figure class="spotlight__image">
                <img src="{{ base_url }}/img-16-9-od.jpg" alt="Optimaal Digitaal Workshopspel">
            </figure>

            <div class="spotlight__content">
                <h2>Ook het spel spelen?</h2>
                <p>Met het spel wordt verassend snel doorgedrongen tot de kern. Het spel eindigt met concrete acties die de volgende dag kunnen worden opgepakt. Het verbeteren van je (digitale) dienstverlening start dus meteen. </p>

                <a  href="#" class="btn btn--primary">Bestellen</a><a  href="#" class="btn btn--primary">Print & Play</a>
            </div>
        </div>
    </div>
</div>


<div class="section section--spotlight">
    <div class="l-spotlight-wrapper l-item-count-2">

        <div class="spotlight">

            <figure class="spotlight__image">
                <img src="{{ base_url }}/img-16-9-conference.jpg" alt="International Design in Government Conference">
            </figure>

            <div class="spotlight__content">
                <h2>Ook naar de conferentie?</h2>
                <p>Met meer dan 9000 bezoekers uit 40 verschillende landen was de conferentie een waanzinnig succes. Wil jij daar ook bij zijn dit jaar? Schrijf je snel in!</p>

                <a  href="#" class="btn btn--primary">Schrijf je in</a>
            </div>
        </div>

        <div class="spotlight">

            <figure class="spotlight__image">
                <img src="{{ base_url }}/img-16-9-letter.jpg" alt="International Design in Government Conference">
            </figure>

            <div class="spotlight__content">
                <h2>Ook een beeldbrief?</h2>
                <p>Hebben jullie ook een goede beeldbrief gemaakt of verstuurd? Deel hem! Met goede voorbeelden zorgen we voor meer begrijpelijke brieven.</p>

                <a  href="#" class="btn btn--primary">Deel je brief</a><a  href="#" class="btn btn--readmore">Een minder belangrijke link</a>
            </div>
        </div>

    </div>
</div>