<ol class="steplist">
    <li>
        <h3>Maak twee versies van dezelfde brief</h3>
        <p>Om een goede test uit te kunnen voeren, maak je twee versies van dezelfde brief. Op die manier kun je een
            zogenaamde A/B-test uitvoeren om uit te vinden wat het beste werkt voor de doelgroep. Denk bijvoorbeeld aan
            het gebruik van verschillende foto’s, teksten of volgorde.</p>
    </li>
    <li>
        <h3>Zoek frisse testers binnen en buiten de gemeente</h3>
        <p>Om goed te kunnen testen, is het belangrijk om testers te vinden onder de doelgroep die met een frisse blik
            naar de brieven kunnen kijken. Ga op zoek naar intermediairs binnen en buiten de gemeente die je hierbij
            kunnen helpen. Denk bijvoorbeeld aan collega’s die je in contact kunnen brengen met
            vrijwilligersorganisaties, maatschappelijke stichtingen en taalambassadeurs van Stichting ABC of Stichting
            Lezen en Schrijven..</p>
    </li>
    <li>
        <h3>Stel een multidisciplinair team samen</h3>
        <p>Om ervoor te zorgen dat de verbeteringen die gevonden worden ook doorgevoerd worden in de bestaande brief, is
            het slim om de collega’s die de brieven schrijven te betrekken bij het testen. Doordat zij de test uitvoeren
            en met lezers het gesprek voeren, zien zij zelf wat werkt en wat niet. Door het samen te doen werk je aan
            een gezamenlijk beeld van benodigde verbeteringen en creëer je gezamenlijke verantwoordelijkheid.</p>
    </li>
    <li>
        <h3>Bereid de testdag voor</h3>
        <p>Als projectleider organiseer je 1 testdag, waarop alle collega’s op dezelfde manier en op dezelfde dag testen
            uitvoeren bij de doelgroep. Zorg ervoor dat alles klaarligt en er een planning is wie waar naartoe gaat,
            zodat de testers zich kunnen concentreren op hun taak. Maak testsetjes per brief, zorg voor een gezamenlijke
            kick-off die inspireert en waarin nog een laatste keer de bedoeling wordt uitgelegd en plan een afsluitend
            uur in waarin alle collega’s weer bij elkaar komen om de belangrijkste bevindingen door te spreken.</p>
        <p>Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat.
            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia
            in, elementum id enim. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh
            pulvinar a. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut
            lacinia in, elementum id enim. Pellentesque in ipsum id orci porta dapibus.</p>
    </li>
    <li>
        <h3>Maak een verslag en zorg voor follow-up</h3>
        <p>In het reflectie-uur na afloop van de testdag, haal je gezamenlijk de belangrijkste bevindingen op. Als
            projectleider schrijf je hiervan een samenvatting met de opzet van de test, de belangrijkste bevindingen en
            de verbeteracties. Iedere collega die een test heeft uitgevoerd, maakt hiervan een eigen verslag. Dit voeg
            je toe aan de samenvatting. De communicatiemedewerker, redacteur of briefeigenaar die de brieven schrijft,
            heeft dan voldoende input om de brief te herschrijven. Als projectleider houd je in de gaten of de
            verbeteracties ook daadwerkelijk doorgevoerd worden.</p>
    </li>
</ol>