<div aria-labelledby="stappen-15" class="stepchart">
  <h2 id="stappen-15" class="visuallyhidden">Stappen</h2>

  <div class="stepchart__bg"
  ><img src="/wp-content/plugins/ictu-gc-posttypes-inclusie/images/stappenplan-bg-fullscreen.svg"
        alt="Stepchart Background"></div>

  <ol class="stepchart__items" role="tablist">
    <li class="stepchart__item">
      <button class="stepchart__button btn btn--stepchart identificeer" aria-selected="false" role="tab"
              data-ol-has-click-handler="">
        <span class="btn__icon"></span>
        <span class="btn__text">1. Identificeer</span>
      </button>

      <section class="stepchart__description" aria-hidden="true"
               aria-labelledby="1-identificeer-inclusive-design-doelen-1" role="tabpanel">
        <button type="button" class="btn btn--close" data-trigger="action-popover-close" data-ol-has-click-handler="">
          Sluit
        </button>

        <h3 id="1-identificeer-inclusive-design-doelen-1" class="stepchart__title">1: Identificeer Inclusive Design
          doelen</h3>
        <div class="description">
          <p>Identificeer gezamenlijk op welke manier je aandacht gaat besteden aan inclusie in je project en wat je
            wilt bereiken. Neem dit op in je projectplan.</p>
        </div>

        <a href="https://inclusie.gebruikercentraal.nl/stap/identificeer-inclusive-design-doelen/" class="cta"
           data-ol-has-click-handler="">Lees meer <span class="visuallyhidden">over 1: Identificeer Inclusive Design doelen</span></a>
      </section>
    </li>

    <li class="stepchart__item">
      <button class="stepchart__button btn btn--stepchart verdiep" aria-selected="false" role="tab"
              data-ol-has-click-handler=""><span class="btn__icon"></span><span class="btn__text">2. Verdiep</span>
      </button>
      <section class="stepchart__description" aria-hidden="true" aria-labelledby="2-verdiep-je-in-je-gebruikers-2"
               role="tabpanel">
        <button type="button" class="btn btn--close" data-trigger="action-popover-close" data-ol-has-click-handler="">
          Sluit
        </button>
        <h3 id="2-verdiep-je-in-je-gebruikers-2" class="stepchart__title">2: Verdiep je in je gebruikers</h3>
        <div class="description"><p>Verdiep je in de vaardigheden, beperkingen en omstandigheden van je gebruikers in
            het licht van de te ontwikkelen toepassing. Betrek hierbij je gebruikers. Breng hun behoeften en wensen in
            kaart.</p>
        </div>
        <a href="https://inclusie.gebruikercentraal.nl/stap/2-verdiep-je-in-je-gebruikers/" class="cta"
           data-ol-has-click-handler="">Lees meer <span
              class="visuallyhidden">over 2: Verdiep je in je gebruikers</span></a></section>
    </li>

    <li class="stepchart__item">
      <button class="stepchart__button btn btn--stepchart ontwerp" aria-selected="false" role="tab"
              data-ol-has-click-handler=""><span class="btn__icon"></span><span class="btn__text">3. Ontwerp</span>
      </button>
      <section class="stepchart__description" aria-hidden="true" aria-labelledby="3-ontwerp-inclusieve-toepassingen-3"
               role="tabpanel">
        <button type="button" class="btn btn--close" data-trigger="action-popover-close" data-ol-has-click-handler="">
          Sluit
        </button>
        <h3 id="3-ontwerp-inclusieve-toepassingen-3" class="stepchart__title">3: Ontwerp inclusieve toepassingen</h3>
        <div class="description"><p>Ontwerp iteratief inclusieve toepassingen die aansluiten bij fysieke, cognitieve en
            psychosociale kenmerken van je gebruikers en hun omstandigheden. Betrek hierbij je gebruikers. Licht je
            inclusieve ontwerpkeuzes toe.</p>
          <p>&nbsp;</p>
        </div>
        <a href="https://inclusie.gebruikercentraal.nl/stap/3-creeer-inclusieve-oplossingen/" class="cta"
           data-ol-has-click-handler="">Lees meer <span
              class="visuallyhidden">over 3: Ontwerp inclusieve toepassingen</span></a></section>
    </li>

    <li class="stepchart__item">
      <button class="stepchart__button btn btn--stepchart evalueer" aria-selected="false" role="tab"
              data-ol-has-click-handler=""><span class="btn__icon"></span><span class="btn__text">4. Evalueer</span>
      </button>
      <section class="stepchart__description" aria-hidden="true" aria-labelledby="4-evalueer-met-je-gebruikers-4"
               role="tabpanel">
        <button type="button" class="btn btn--close" data-trigger="action-popover-close" data-ol-has-click-handler="">
          Sluit
        </button>
        <h3 id="4-evalueer-met-je-gebruikers-4" class="stepchart__title">4: Evalueer met je gebruikers</h3>
        <div class="description"><p>Evalueer na elke iteratie je inclusieve ontwerpen met je gebruikers. Leg bevindingen
            en aanbevelingen voor verbetering vast.</p>
          <p>&nbsp;</p>
        </div>
        <a href="https://inclusie.gebruikercentraal.nl/stap/4-evalueer-met-je-gebruikers/" class="cta"
           data-ol-has-click-handler="">Lees meer <span class="visuallyhidden">over 4: Evalueer met je gebruikers</span></a>
      </section>
    </li>

    <li class="stepchart__item">
      <button class="stepchart__button btn btn--stepchart deel" aria-selected="false" role="tab"
              data-ol-has-click-handler=""><span class="btn__icon"></span><span class="btn__text">5. Deel</span>
      </button>
      <section class="stepchart__description" aria-hidden="true"
               aria-labelledby="5-deel-je-inclusive-design-inzichten-5" role="tabpanel">
        <button type="button" class="btn btn--close" data-trigger="action-popover-close" data-ol-has-click-handler="">
          Sluit
        </button>
        <h3 id="5-deel-je-inclusive-design-inzichten-5" class="stepchart__title">5: Deel je Inclusive Design
          inzichten</h3>
        <div class="description"><p>Reflecteer gedurende het iteratieve ontwerpproces (stap 2-4) op proces en resultaat
            in het licht van de gestelde inclusie-doelen (stap 1). Deel je inzichten over ontwerpen voor inclusie om bij
            te dragen aan een (digitale) samenleving waarin iedereen mee kan doen.</p>
          <p>&nbsp;</p>
        </div>
        <a href="https://inclusie.gebruikercentraal.nl/stap/5-deel-je-inclusive-design-inzichten/" class="cta"
           data-ol-has-click-handler="">Lees meer <span class="visuallyhidden">over 5: Deel je Inclusive Design inzichten</span></a>
      </section>
    </li>
  </ol>
</div>