<section aria-labelledby="voorbeelden-van-brieven" class="text-block">

  <h2 class="text-block__title">Voorbeelden van brieven</h2>
  <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta. Donec rutrum congue leo.</p>
  <a href="#" class="btn btn--primary">Bekijk de voorbeelden</a>
</section>


<section aria-labelledby="voorbeelden-van-brieven" class="text-block l-text-centered">

  <h2 class="text-block__title">Gecenteerde tekst</h2>
  <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta. Donec rutrum congue leo.</p>
  <a href="#" class="btn btn--primary">Bekijk de voorbeelden</a>
</section>


<section aria-labelledby="wat-levert-het-op" class="text-block text-block--bg l-bg-white">

  <h2 class="text-block__title">Wat levert het op?</h2>
  <p>Wat zijn de voordelen van ontwerpen voor inclusie?</p>
  <p>Lees meer over de perspectieven van verschillende stakeholders, hefbomen en barrières, en de meerwaarde van ontwerpen voor inclusie.</p>

  <a href="#" class="btn btn--primary">Wat levert het op?</a>
</section>

<section aria-labelledby="wat-levert-het-op" class="text-block text-block--bg l-bg-primary">

  <h2 class="text-block__title">Toegankelijk & begrijpelijk</h2>
  <p>De Agenda Digitale Overheid stelt dat de overheid toegankelijk en begrijpelijk moet zijn voor iedereen. Mensen kunnen makkelijker gebruik maken van diensten en websites van de overheid als die consistent ontworpen zijn. Daarom gaan we tussen overheidsorganisaties principes, interactiepatronen, ontwerpen en code delen via een gezamenlijk design system.</p>

  <a href="#" class="btn btn--primary">Meer over het NL Design System</a>
</section>

<section aria-labelledby="wat-levert-het-op" class="text-block text-block--bg l-bg-secondary">

  <h2 class="text-block__title">Toegankelijk & begrijpelijk</h2>
  <p>De Agenda Digitale Overheid stelt dat de overheid toegankelijk en begrijpelijk moet zijn voor iedereen. Mensen kunnen makkelijker gebruik maken van diensten en websites van de overheid als die consistent ontworpen zijn. Daarom gaan we tussen overheidsorganisaties principes, interactiepatronen, ontwerpen en code delen via een gezamenlijk design system.</p>

  <a href="#" class="btn btn--primary">Meer over het NL Design System</a>
</section>