@import "../../../less/abstracts/_variables";
@import "../../../less/abstracts/_mixins";


@import "../../../less/components/_stepchart";
@import "../../../less/components/_stepnav";

@gutter: 3rem;

.container > .flex-xl-nowrap {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;

  > main {
    width: 100%;
  }

  .col-md-3 {
    width: 25%;
    padding: 3rem;
    border-right: .2rem solid @border_color;
    padding: 3rem;
  }

  .col-md-9 {
    width: 75%;
    padding: 3rem;
  }
}

.hp-wrapper {
  .gc-padding;
  width: 90%;
  max-width: @contentmaxwidth;
  margin: 0 auto;
  background: @white;

  h1 {
    margin: 0;
    padding: 0;

    + p {
      margin-top: 2rem;
    }
  }

  h2 {
    border-top: .2rem solid @border_color;
    margin-top: 3rem;
  }

  @media @desktop {
    padding: 5rem;
    margin-top: 5rem;
  }

  code {
    border: .1rem solid @border_color;
    display: inline-block;
    padding: .1rem 1rem;
    border-radius: .3rem;
  }
}

#components-cards-default,
#components-cards-tipkaarten,
#components-cards-doelgroep {
  .modifier__example {
    display: flex;
    flex-wrap: wrap;
    margin-left: -( @gutter / 2 );
    margin-right: -( @gutter / 2 );
    width: 100%;
    max-width: 1200px;

    .card {
      margin-top: @gutter;
      width: ~"calc(50% - @{gutter})";
      margin-left: ( @gutter / 2 );
      margin-right: ( @gutter / 2 );
    }

    @media @desktop {
      .card {
        width: ~"calc(33.333% - @{gutter})";
      }
    }
  }
}

#components-textblock {
  .modifier__example {
    display: flex;
    flex-wrap: wrap;
    margin-left: -( @gutter / 2 );
    margin-right: -( @gutter / 2 );
    width: 100%;
    max-width: 1200px;

    .text-block {
      margin-top: @gutter;
      width: ~"calc(50% - @{gutter})";
      margin-left: ( @gutter / 2 );
      margin-right: ( @gutter / 2 );
    }
  }
}

.layout-container {
  background: @gc_pantybrown_xlight;
}

.bd-content > section {
  background: @white;
  padding: 2rem;
  margin-top: @gutter;
  .gc-box-shadow;

  > h2 {
    font-weight: normal;
    font-family: @font_primary_bold;

    a {
      font-family: @font_primary;
      display: inline-block;
      margin-left: 1rem;
    }
  }

  @media @desktop {
    padding: 1rem 3rem 4rem;
  }
}

h1 {
  @media @desktop {
    font-size: 6.8rem;
    line-height: 7.2rem;
  }
}

.btn-group {
  border: .1rem solid @border_color;
  padding: .5rem 1rem;
  font-size: @font_small;
  display: flex;

  a {
    display: flex;
    align-items: center;
    margin-right: 3rem;

    svg {
      margin-left: 1rem;
    }
  }
}

.description {
  margin-top: 1.6rem;
}

.highlight {
  margin-top: @gutter;
  border: .1rem solid @border_color;

  pre {
    border-top: .1rem solid @border_color;
    padding: 2rem;
    background: @gc_pantybrown_xlight;
  }
}

.page-navigation {
  background: @gc_blue_dark;
  .container {
    display: flex;
    align-items: center;
  }
}

.navbar-brand {
  display: block;
  margin-right: @gutter;
  padding: 1rem 2rem;

  img {
    display: block;
    width: 12rem;
    height: auto;
  }
}

.navbar-toggler {
  display: none;
}

.navbar-nav {
  display: flex;
  padding: 1rem 0;

  li {
    list-style: none;
    margin-right: 3rem;
  }

  a {
    color: @white;
    font-family: @font_primary_semi;
    display: inline-block;
    padding: 1rem 1rem;
    text-decoration: none;
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: @gc_green;
      height: .3rem;
      transform: scaleX(0);
      transition: transform .2s;
    }

    &:hover,
    &:focus,
    &.is-active {
      &:before {
        transform: scaleX(1);
      }
    }
  }
}

.section-nav {
  position: fixed;

  li {
    list-style: none;

    a {
      display: block;
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
      }

      &.back-to-top {
        margin-top :2rem;
        border-top: .1rem solid @border_color;
        padding-top: 1rem;
        font-size: @font_small;
      }
    }
  }

  > li {
    > a {
      padding: .3rem 1rem;
    }

    &.toc-h1 > a {
      font-family: @font_primary_bold;
    }

    &.toc-h2 {
      > a {
        padding-left: 2rem;
      }
    }
  }
}

.stepchart {
  margin-top: 0 !important;
}

.text-block + .text-block {
  margin-top: @gutter;
}

.stepnav:before {
  margin: 0 !important;
}