<div class="section section--actual">

    <div class="l-section-content">

        {# Calendar col #}
        <section class="l-section-col col--50-width">
            <h2 class="section__title">Kalender</h2>


            <div class="grid grid--col-2">

                <div class="teaser teaser--event teaser--small">
                    <div class="teaser__image">
                        <img src="{{ base_url }}/img-16-9-od.jpg"/>

                        <div class="date date--small">
                            <span class="day">16</span>
                            <span class="month">jul</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                    <h3 class="teaser__title"><a class="link link--arrow">Workshop Spelleider Optimaal Digitaal</a></h3>
                </div>

                <div class="teaser teaser--event teaser--small">
                    <div class="teaser__image">
                        <img src="{{ base_url }}/img-16-9.jpg"/>

                        <div class="date date--small">
                            <span class="day">19</span>
                            <span class="month">aug</span>
                            <span class="year">2020</span>
                        </div>
                    </div>
                    <h3 class="teaser__title"><a class="link link--arrow">Optimaal Digitaal op landelijk congres
                            online</a>
                    </h3>
                </div>

            </div>

            <a class="btn btn--primary" href="#">Alle evenementen</a>
        </section>

        {# Blog / news col #}
        <section class="l-section-col col--50-width">
            <h2 class="section__title">Blog</h2>


            <div class="grid grid--col-2">

                <div class="teaser teaser--event teaser--small">
                    <div class="teaser__image">
                        <img src="{{ base_url }}/img-16-9-conference.jpg"/>
                    </div>
                    <h3 class="teaser__title"><a class="link link--arrow">We hebben onze doelen nu veel scherper</a></h3>
                </div>

                <div class="teaser teaser--event teaser--small">
                    <div class="teaser__image">
                        <img src="{{ base_url }}/img-16-9-conference2.jpg"/>
                    </div>
                    <h3 class="teaser__title">
                        <a class="link link--arrow">Hoe krijg je je organisatie mee?</a>
                    </h3>
                </div>

            </div>

            <a class="btn btn--primary" href="#">Alle blogs</a>
        </section>


    </div>
</div>
