<section class="section section--brands">

    <div class="l-section-top">

        <h2 class="section__title">Wie doen er mee?</h2>
        <p class="section__description">
            Deze sectie kan gebruikt worden voor het weergeven van bedrijven. Bijvoorbeeld partners of bedrijven die
            meedoen aan een initatief.
        </p>

    </div>

    <div class="l-section-content">
        <div class="grid grid--col-4">

            <div class="brand">
                <figure class="brand__image">
                    <img class="image image--brand" src="{{ base_url }}/brand_1.png">
                </figure>

                <a class="link--arrow-icon" href="#">Belastingdienst
                    <svg class="icon icon--small icon--link-arrow" focusable="false">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/wp-content/themes/ictuwp-theme-gebruikercentraal/images/svg/icons/defs/svg/sprite.defs.svg#arrow"></use>
                    </svg>
                </a>
            </div>

            <div class="brand">
                <figure class="brand__image">
                    <img class="image image--brand" src="{{ base_url }}/brand_2.png">
                </figure>

                <a class="link--arrow-icon" href="#">UWV
                    <svg class="icon icon--small icon--link-arrow" focusable="false">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/wp-content/themes/ictuwp-theme-gebruikercentraal/images/svg/icons/defs/svg/sprite.defs.svg#arrow"></use>
                    </svg>
                </a>
            </div>

            <div class="brand">
                <figure class="brand__image">
                    <img class="image image--brand" src="{{ base_url }}/brand_3.png">
                </figure>

                <a class="link--arrow-icon" href="#">SVB
                    <svg class="icon icon--small icon--link-arrow" focusable="false">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/wp-content/themes/ictuwp-theme-gebruikercentraal/images/svg/icons/defs/svg/sprite.defs.svg#arrow"></use>
                    </svg>
                </a>
            </div>

            <div class="brand">
                <figure class="brand__image">
                    <img class="image image--brand" src="{{ base_url }}/brand_4.png">
                </figure>

                <a class="link--arrow-icon" href="#">Kamer van Koophandel
                    <svg class="icon icon--small icon--link-arrow" focusable="false">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/wp-content/themes/ictuwp-theme-gebruikercentraal/images/svg/icons/defs/svg/sprite.defs.svg#arrow"></use>
                    </svg>
                </a>
            </div>

        </div>
    </div>
</section>
