<section class="section section--related">


  {# Wrapper for section intro #}
  <div class="l-section-top">
    <h2 class="section__title">
      Kijk ook eens bij...
    </h2>
    <p class="section__description">
      Deze sectie kan gebruikt worden voor gerelateerde inhoud. Het aantal items is flexibel en wordt altijd in een tweekoloms grid weergegeven - tenzij er 3 items zijn. Dan worden de 3 items naast elkaar weergegeven.
    </p>
  </div>

  {# Wrapper for all section content #}
  <div class="l-section-content">

    <div class="grid grid--col-2">
      <div class="card">
        <div class="card__content">
          <h2 class="card__title">
            <a class="link link--arrow" href="#">
              Een andere pagina binnen deze website
              <span class="link link--arrow link__icon"></span>
            </a>
          </h2>
          <p class="card__description">
            [Samenvatting] Een andere, interessante pagina die je zeker moet lezen. Snel klikken voor je het mist!
          </p>
        </div>
      </div>

      <div class="card card--with-image">
        <div class="card__image">
          <img src="{{ base_url }}/img-16-9-2.jpg" alt="Gebruiker Centraal Plaatje">
        </div>
        <div class="card__content">
          <h2 class="card__title">
            <a class="link link--arrow" href="#">
              Een andere pagina binnen deze website
              <span class="link link--arrow link__icon"></span>
            </a>
          </h2>
          <p class="card__description">
            [Samenvatting] Een andere, interessante pagina die je zeker moet lezen. Snel klikken voor je het mist!
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

