<div class="section section--text-blocks l-item-count-1">

    <div class="l-section-content">
        {% include '../includes/text-block.twig' with {'tb_title': 'Over kennisbank beeldtaal', 'modifier' : ' text-block--bg'} %}
    </div>
</div>

