<div class="section section--text-blocks l-item-count-3">
    <div class="l-section-content">
    {% include '../includes/text-block.twig' with {
        'tb_title': 'Stel je coulanter op bij fouten',
        'modifier' :' text-block--bg l-bg-white'}
    %}

    {% include '../includes/text-block.twig' with {
        'tb_title': 'Verschillende sets',
        'descr': 'Er zijn sets beschikbaar om het spel verder aan te vullen. Bijvoorbeeld de set inclusie. Met deze set vul je het spel aan met tips over inclusieve dienstverlening.',
        'link_primary': 'Bekijk de inclusie set',
        'modifier': ' text-block--bg l-bg-primary'}
    %}

    {% include '../includes/text-block.twig' with {
        'tb_title': 'Richtlijnen voor beeldbrieven',
        'descr': 'Er zijn richtlijnen voor beeld, tekst en vormgeving.',
        'link_primary': 'Bekijk de richtlijn',
        'link_secondary': 'Niet klikken',
        'modifier': ' text-block--bg l-bg-secondary'}
    %}
    </div>
</div>

