
<section class="section section--related">
  <div class="l-section-top">
    <h2 class="section__title">
      Kijk ook eens bij...
    </h2>
    <p class="section__description">
      Deze sectie kan gebruikt worden voor (externe) links en bronvermeldingen.
    </p>
  </div>


  <div class="l-section-content">

    <ul class="item-list">
      <li class="item-list__item">
        <a href="#" class="link link--linklist">Design System Gitlab</a>
        <p class="item-list__description">Ook bijdragen? Klik snel op de link en bekijk wat je kunt doen!</p>
      </li>
      <li class="item-list__item">
        <a href="#" class="link link--linklist link--external">Google</a>
        <p class="item-list__description">Ben je op zoek naar iets? Google helpt je verder.</p>
      </li>
      <li class="item-list__item">
        <a href="#" class="link link--linklist link--external">Optimaal Digitaal</a>
        <p class="item-list__description">Meer weten over het spel en alle workshops? Lees er alles over op de site van Optimaal Digitaal.</p>
      </li>
    </ul>

  </div>
</section>

