<div class="gc-sg-color-wrapper">

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Darker Blue',
        'kleurtje': 'gc-darker-blue',
        'varname': '@gc_darkerblue',
        'descr': 'Wordt bijvoorbeeld gebruikt in de headers en footers'} %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'Greyblue',
        'kleurtje': 'gc-greyblue',
        'varname': '@gc_greyblue',
        'descr': 'Wordt bijvoorbeeld gebruikt voor metadata'} %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'Greyblue Xtra Light',
        'kleurtje': 'gc-blue-x-light',
        'varname': '@gc_blue_x_light',
        'descr': 'Wordt gebruikt voor borders (@border_color) en lichtblauwe achtergronden'} %}
</div>

<div class="gc-sg-color-wrapper">

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Accessible Green',
        'kleurtje': 'gc-a11y-green',
        'varname': '@gc_a11y_green',
        'descr': 'De accessible variant van GC Groen. Op deze kleur kan je witte tekst gebruiken.'} %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Accessible Dark Green',
        'kleurtje': 'gc-a11y-green-dark',
        'varname': '@gc_a11y_green_dark',
        'descr': 'De nog iets donkerdere accessible groen. Voor als er 2 vlakken groen bij eklaar worden weergegeven, bijvoorbeeld in een button'} %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Pantybrown Light',
        'kleurtje': 'gc-pantybrown-light',
        'varname': '@gc_pantybrown_light',
        'descr': 'Voor iets lichtere achtergronden, bijvoorbeeld bij pagina\'s.'} %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Pantybrown Xtra Light',
        'kleurtje': 'gc-pantybrown-xlight',
        'varname': '@gc_pantybrown_xlight',
        'descr': 'Voor achtergronden in inhoud, schuine achtergronden of bij cards. Contrasteert iets met Pantybrown Light.'} %}

</div>
