

<div class="gc-sg-color-wrapper">

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Blue',
        'kleurtje': 'gc-blue',
        'varname': '@gc_blue',
        'descr': 'GC Blauw is de primaire kleur voor het NL Design System' } %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'NLDS Purplish',
        'kleurtje': 'nlds-purplish',
        'varname': '@nlds_purplish',
        'descr': 'Deze kleur is speciaal voor het NL Design systeem en wordt gebruikt als secundaire kleur' } %}

</div>

<div class="gc-sg-color-wrapper">
    {% include '../includes/kleurtje.twig' with {
        'naam': 'Brandkleur',
        'kleurtje': 'gc-blue',
        'varname': '@gc_blue',
        'descr': 'Primaire brandkleur. Wordt gebruikt als achtergrond van de pagina\'s in de header.'} %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'Brandkleur - Accessible',
        'kleurtje': 'gc-a11y-blue',
        'varname': '@gc_a11y-blue',
        'descr': 'Wanneer je echt witte tekst op de brandkleur wil gebruiken.'} %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'Intro + tekstblok kleur',
        'kleurtje': 'nlds-purplish',
        'varname': '@nlds_purplish',
        'descr': 'Kleur welke wordt gebruikt voor de intro\'s en tekstblokken met een kleur'} %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'Knopkleur',
        'kleurtje': 'gc-a11y-green',
        'varname': '@gc_a11y_green',
        'descr': 'Kleur welke wordt gebruikt als achtergrond voor de primary buttons'} %}
</div>
