

<div class="gc-sg-color-wrapper">

    {% include '../includes/kleurtje.twig' with {
        'naam': 'Brand kleur',
        'kleurtje': 'gc-cyan',
        'varname': '@gc_cyan',
        'descr': 'Primaire Beeldbank kleur. Wordt gebruikt als achtergrond in de header.'
    } %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'Intro + tekstblok kleur',
        'kleurtje': 'gc-dark-purple',
        'varname': '@gc_dark_purple',
        'descr': 'Kleur welke wordt gebruikt voor de intro\'s en tekstblokken met een kleur'
    } %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'Knopkleur',
        'kleurtje': 'gc-pink',
        'varname': '@gc_pink',
        'descr': 'Kleur welke wordt gebruikt  als achtergrond voor de primary buttons'
    } %}

</div>

