<div class="gc-sg-color-wrapper">

    {% include '../includes/kleurtje.twig' with {
        'naam': 'OD Orange',
        'kleurtje': 'od-orange',
        'varname': '@od_orange',
        'descr': 'Primaire brandkleur' } %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'OD Orange Darker',
        'kleurtje': 'od-orange-darker',
        'varname': '@od_orange_darker',
        'descr': 'Aanvullende kleur voor contrasterende vlakken' } %}

</div>

<div class="gc-sg-color-wrapper">
    {% include '../includes/kleurtje.twig' with {
        'naam': 'Brandkleur',
        'kleurtje': 'od-orange',
        'varname': '@od_orange',
        'descr': 'Primaire brandkleur. Wordt gebruikt als achtergrond van de pagina\'s in de header.'} %}


    {% include '../includes/kleurtje.twig' with {
        'naam': 'Intro + tekstblok kleur',
        'kleurtje': 'gc-a11y-green',
        'varname': '@gc_a11y_green',
        'descr': 'Kleur welke wordt gebruikt voor de intro\'s en tekstblokken met een kleur'} %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'Knopkleur',
        'kleurtje': 'gc-a11y-green',
        'varname': '@gc_a11y_green',
        'descr': 'Kleur welke wordt gebruikt als achtergrond voor de primary buttons'} %}
</div>

<div class="gc-sg-color-wrapper">

    <div class="colors-smaller">
        <h3>Commitment</h3>

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-a11y-green-lg',
            'descr': 'Achtergrond'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-a11y-green',
            'descr': 'Achtergrond, tipkaart onderkant'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-green',
            'descr': 'Lichter (lijnen, tipkaart detail)'
        } %}

    </div>

    <div class="colors-smaller">
        <h3>Procesaanpak</h3>

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-a11y-cyan-lg',
            'descr': 'Achtergrond'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-cyan',
            'descr': 'Achtergrond, tipkaart onderkant'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-cyan',
            'descr': 'Lichter (lijnen, tipkaart detail)'
        } %}

    </div>

    <div class="colors-smaller">
        <h3>Gebruiksgemak</h3>

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-dark-purple',
            'descr': 'Achtergrond'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-dark-purple-darker',
            'descr': 'Achtergrond, tipkaart onderkant'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-dark-purple-lighter',
            'descr': 'Lichter (lijnen, tipkaart detail)'
        } %}

    </div>


    <div class="colors-smaller">
        <h3>Informatieveiligheid</h3>

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-pink',
            'descr': 'Achtergrond'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-pink-darker',
            'descr': 'Achtergrond, tipkaart onderkant'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-pink-lighter',
            'descr': 'Lichter (lijnen, tipkaart detail)'
        } %}
    </div>

    <div class="colors-smaller">
        <h3>Kanaalsturing</h3>

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-orange-a11y-lg',
            'descr': 'Achtergrond'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-orange',
            'descr': 'Achtergrond, tipkaart onderkant'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-orange-a11y-lg',
            'descr': 'Lichter (lijnen, tipkaart detail)'
        } %}

    </div>

    <div class="colors-smaller">
        <h3>Samenwerking</h3>

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-blue',
            'descr': 'Achtergrond'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-blue-darker',
            'descr': 'Achtergrond, tipkaart onderkant'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-blue',
            'descr': 'Lichter (lijnen, tipkaart detail)'
        } %}

    </div>

    <div class="colors-smaller">
        <h3>Inclusie</h3>

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'inc-orange',
            'descr': 'Achtergrond'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'inc-a11y-orange',
            'descr': 'Achtergrond, tipkaart onderkant'
        } %}

        {% include '../includes/kleurtje.twig' with {
            'kleurtje': 'gc-orange',
            'descr': 'Lichter (lijnen, tipkaart detail)'
        } %}

    </div>
</div>