
<h2>Primaire kleuren</h2>

<div class="gc-sg-color-wrapper">

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Groen',
        'kleurtje': 'gc-green',
        'varname': '@gc_green',
        'descr': 'Dé standaard Gebruiker Centraal Groen'} %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Dark Blue',
        'kleurtje': 'gc-dark-blue',
        'varname': '@gc_dark_blue',
        'descr': 'Wordt gebruikt als tekstkleur en achtergrondkleur'} %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Pantybrown',
        'kleurtje': 'gc-pantybrown',
        'varname': '@gc_pantybrown',
        'descr': 'Achtergondkleur voor web én print'} %}

</div>

<h2>Secundaire kleuren</h2>

<div class="gc-sg-color-wrapper">

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Dark Purple',
        'kleurtje': 'gc-dark-purple',
        'varname': '@gc_dark_purple'
    } %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Blue',
        'kleurtje': 'gc-blue',
        'varname': '@gc_blue'
    } %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Pink',
        'kleurtje': 'gc-pink',
        'varname': '@gc_pink'
    } %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Orange',
        'kleurtje': 'gc-orange',
        'varname': '@gc_orange'
    } %}

    {% include '../includes/kleurtje.twig' with {
        'naam': 'GC Cyan',
        'kleurtje': 'gc-cyan',
        'varname': '@gc_cyan'
    } %}


</div>
