<div class="font-style">

    <strong>Meta data</strong>
    <div class="meta-data">
        <span class="meta-data__item">Een meta data item</span>
        <span class="meta-data__item">En nog een</span>
    </div>
</div>


<div class="font-style">
    <strong>Kleinere tekst</strong>
    <span class="font-smaller">Gebruik font-size: @font_small</span>
</div>

<div class="font-style">
    <strong>Sectie of bloktitle</strong>
    <h2 class="section__title">Een sectieheading of bloktitel</h2>
    <p>Gebruik class <code>.section__title</code> of mixin <code>.gc-section-heading()</code></p>
</div>

