<div class="sg-fonts-elements-wrapper">

    <h1>Een heading 1</h1>
    <h2>Een heading 2</h2>
    <h3>Een heading 3</h3>
    <h4>Een heading 4</h4>
    <h5>Een heading 5</h5>

    <p>Een gewone paragraaf. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet
        dui. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis
        at tellus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
    <a class="btn btn--primary" href="#">Met een button</a>

    <ul>
        <li>Een gewoon lijstje</li>
        <li>Met meerdere items</li>
        <li>Kan je toevoegen in teksten</li>
    </ul>

    <ul class="fancy-list">
        <li>Een fancy lijstje</li>
        <li>Met meerdere items</li>
        <li>Kan je toevoegen in teksten</li>
    </ul>

    <ol>
        <li>Een genummerd lijstje</li>
        <li>Met meerdere items</li>
        <li>Kan je toevoegen in teksten</li>
    </ol>

    <ol class="steplist">
        <li>
            <h3>Een step lijstje</h3>
            <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Nulla quis lorem ut libero malesuada feugiat.</p>
        </li>

        <li>
            <h3>Met nog een item</h3>
            <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
        </li>

        <li>
            <h3>En nog 1, gewoon omdat het kan!</h3>
            <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
        </li>
    </ol>


</div>

