


<div class="card card--doelgroep poppetje-1">
  <div class="card__image">

  </div>
  <div class="card__content">
    <h2 class="card__title">
      <a class="arrow-link" href="#">
        <span class="arrow-link__descr">Ontwerpen voor</span>
        <span class="arrow-link__text">Autisme</span>
        <span class="arrow-link__icon"></span>
      </a>
    </h2>

    <div class="tegeltje"><p>“Ik weet niet wat er gebeurt als ik een keuze maak.”</p>
      <p><strong>Bart, 29</strong></p></div>
  </div>
</div>
