<div class="kleur">

    <span class="kleur__staaltje {{ kleurtje }}">{{ varname }}</span>
    <span class="kleur__naam">{{ naam }}</span>

    {% if descr %}
        <p class="descr">{{ descr }}</p>
    {% endif %}
</div>