/* Typografie */
/* Default variables for textblocks */
/* Chart */
/* Nav */
.container > .flex-xl-nowrap {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.container > .flex-xl-nowrap > main {
  width: 100%;
}
.container > .flex-xl-nowrap .col-md-3 {
  width: 25%;
  border-right: 0.2rem solid #D1DFE3;
  padding: 3rem;
}
.container > .flex-xl-nowrap .col-md-9 {
  width: 75%;
  padding: 3rem;
}
.hp-wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
  background: #fff;
}
@media only screen and (min-width: 960px) {
  .hp-wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.hp-wrapper h1 {
  margin: 0;
  padding: 0;
}
.hp-wrapper h1 + p {
  margin-top: 2rem;
}
.hp-wrapper h2 {
  border-top: 0.2rem solid #D1DFE3;
  margin-top: 3rem;
}
@media only screen and (min-width: 960px) {
  .hp-wrapper {
    padding: 5rem;
    margin-top: 5rem;
  }
}
.hp-wrapper code {
  border: 0.1rem solid #D1DFE3;
  display: inline-block;
  padding: 0.1rem 1rem;
  border-radius: 0.3rem;
}
#components-cards-default .modifier__example,
#components-cards-tipkaarten .modifier__example,
#components-cards-doelgroep .modifier__example {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: 100%;
  max-width: 1200px;
}
#components-cards-default .modifier__example .card,
#components-cards-tipkaarten .modifier__example .card,
#components-cards-doelgroep .modifier__example .card {
  margin-top: 3rem;
  width: calc(50% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@media only screen and (min-width: 960px) {
  #components-cards-default .modifier__example .card,
  #components-cards-tipkaarten .modifier__example .card,
  #components-cards-doelgroep .modifier__example .card {
    width: calc(33.333% - 3rem);
  }
}
#components-textblock .modifier__example {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: 100%;
  max-width: 1200px;
}
#components-textblock .modifier__example .text-block {
  margin-top: 3rem;
  width: calc(50% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.layout-container {
  background: #f9f6f3;
}
.bd-content > section {
  background: #fff;
  padding: 2rem;
  margin-top: 3rem;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.bd-content > section > h2 {
  font-weight: normal;
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
}
.bd-content > section > h2 a {
  font-family: 'montserratregular', Helvetica, Arial, sans-serif;
  display: inline-block;
  margin-left: 1rem;
}
@media only screen and (min-width: 960px) {
  .bd-content > section {
    padding: 1rem 3rem 4rem;
  }
}
@media only screen and (min-width: 960px) {
  h1 {
    font-size: 6.8rem;
    line-height: 7.2rem;
  }
}
.btn-group {
  border: 0.1rem solid #D1DFE3;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  display: flex;
}
.btn-group a {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.btn-group a svg {
  margin-left: 1rem;
}
.description {
  margin-top: 1.6rem;
}
.highlight {
  margin-top: 3rem;
  border: 0.1rem solid #D1DFE3;
}
.highlight pre {
  border-top: 0.1rem solid #D1DFE3;
  padding: 2rem;
  background: #f9f6f3;
}
.page-navigation {
  background: #004152;
}
.page-navigation .container {
  display: flex;
  align-items: center;
}
.navbar-brand {
  display: block;
  margin-right: 3rem;
  padding: 1rem 2rem;
}
.navbar-brand img {
  display: block;
  width: 12rem;
  height: auto;
}
.navbar-toggler {
  display: none;
}
.navbar-nav {
  display: flex;
  padding: 1rem 0;
}
.navbar-nav li {
  list-style: none;
  margin-right: 3rem;
}
.navbar-nav a {
  color: #fff;
  font-family: 'montserrat_semiboldregular', Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 1rem 1rem;
  text-decoration: none;
  position: relative;
}
.navbar-nav a:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #25b34b;
  height: 0.3rem;
  transform: scaleX(0);
  transition: transform 0.2s;
}
.navbar-nav a:hover:before,
.navbar-nav a:focus:before,
.navbar-nav a.is-active:before {
  transform: scaleX(1);
}
.section-nav {
  position: fixed;
}
.section-nav li {
  list-style: none;
}
.section-nav li a {
  display: block;
  text-decoration: none;
}
.section-nav li a:focus,
.section-nav li a:hover {
  text-decoration: underline;
}
.section-nav li a.back-to-top {
  margin-top: 2rem;
  border-top: 0.1rem solid #D1DFE3;
  padding-top: 1rem;
  font-size: 1.4rem;
}
.section-nav > li > a {
  padding: 0.3rem 1rem;
}
.section-nav > li.toc-h1 > a {
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
}
.section-nav > li.toc-h2 > a {
  padding-left: 2rem;
}
.stepchart {
  margin-top: 0 !important;
}
.text-block + .text-block {
  margin-top: 3rem;
}
.stepnav:before {
  margin: 0 !important;
}
