/* Inclusie */
/* NLDS */
.gc-list-title {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
}
.stepchart {
  position: relative;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 650px) {
  .stepchart {
    margin-top: -4rem;
  }
}
@media only screen and (min-width: 960px) {
  .stepchart {
    margin-top: -13rem;
  }
}
.stepchart__bg {
  position: relative;
}
.stepchart__bg > img {
  display: none;
}
@media only screen and (min-width: 650px) {
  .stepchart__bg > img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.entry-content .stepchart__items {
  margin: 0;
  padding: 0;
}
.stepchart__item {
  list-style: none;
}
@media only screen and (max-width: 650px) {
  .stepchart__item {
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 650px) {
  .stepchart__item {
    position: absolute;
    margin-top: -60px;
    margin-left: -70px;
  }
  .stepchart__item:first-child {
    top: 50%;
    left: 50%;
  }
  .stepchart__item:nth-child(2) {
    top: 30%;
    left: 28%;
  }
  .stepchart__item:nth-child(3) {
    top: 45.5%;
    right: 16%;
  }
  .stepchart__item:nth-child(4) {
    bottom: 17%;
    left: 40%;
  }
  .stepchart__item:nth-child(5) {
    bottom: 8%;
    right: 8%;
  }
}
.entry-content ol li.stepchart__item {
  list-style: none;
}
#home-inleiding .stepchart__description p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.stepchart__description {
  background: #fff;
  color: #004152;
  padding: 2rem;
}
.stepchart__description .cta {
  float: none;
}
.stepchart__description .btn--close {
  display: none;
}
@media only screen and (min-width: 650px) {
  .stepchart__description .btn--close {
    display: block;
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
}
@media only screen and (min-width: 650px) {
  .stepchart__description {
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 13.5rem;
    width: 40rem;
    left: 50%;
    margin-left: -20rem;
    text-align: center;
    padding: 2rem 4.5rem 3rem;
    z-index: 90;
  }
  .stepchart__description .cta {
    display: inline-block;
  }
  .stepchart__description:before,
  .stepchart__description:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 15px 0 15px;
    border-color: #fff transparent transparent transparent;
    bottom: 0;
    margin-bottom: -3rem;
    left: 50%;
    margin-left: -15px;
    speak: none;
  }
  .stepchart__description:before {
    z-index: -1;
    margin-left: -9px;
    border-top-color: rgba(0, 0, 0, 0.1);
  }
}
@media only screen and (min-width: 960px) {
  .stepchart__description {
    width: 50rem;
    margin-left: -25rem;
  }
}
.stepchart__title {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: 'league_gothicregular', Impact, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.stepchart__title + .description {
  margin-top: 1rem;
}
@media only screen and (min-width: 650px) {
  .stepchart__title {
    font-size: 42px;
    font-size: 4.2rem;
    margin: 1rem 1.5rem 0;
  }
}
.btn--stepchart {
  border: none;
  font-family: 'league_gothicregular', Impact, Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.btn--stepchart:hover,
.btn--stepchart:focus {
  background-color: none;
  border: none;
  outline: none;
}
@media only screen and (max-width: calc(650px - 1px)) {
  .btn--stepchart {
    font-size: 26px;
    font-size: 2.6rem;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #148839;
    background-size: 30px auto;
    padding: 1rem 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    width: 100%;
  }
  .btn--stepchart:after {
    content: " ";
    display: block;
    margin-left: auto;
    width: 3rem;
    height: 3.4rem;
    background: url(../images/arrow-down.svg) center center no-repeat;
    border: 0.1rem solid transparent;
    speak: none;
  }
  .btn--stepchart:hover,
  .btn--stepchart:focus {
    text-decoration: underline;
    background-color: #0d5c26;
    color: #fff;
    border: none;
    outline: none;
  }
  .btn--stepchart:hover:after,
  .btn--stepchart:focus:after {
    background: transparent url(../images/arrow-down.svg) center center no-repeat;
    border-color: #fff;
  }
}
@media only screen and (min-width: 650px) {
  .btn--stepchart {
    background: none;
    width: 140px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5rem 0 0 0;
    position: relative;
    z-index: 5;
  }
  .btn--stepchart:before {
    content: " ";
    position: absolute;
    width: 8rem;
    height: 8rem;
    background: #f99d1c;
    border-radius: 50%;
    z-index: -1;
    top: 0;
    left: 50%;
    margin-left: -4rem;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .btn--stepchart:hover,
  .btn--stepchart:focus {
    text-decoration: underline;
    background: none;
    color: #fff;
  }
  .btn--stepchart:hover:before,
  .btn--stepchart:focus:before {
    background: #fff;
  }
  .btn--stepchart:hover .icon--stepchart,
  .btn--stepchart:focus .icon--stepchart {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media only screen and (min-width: 960px) {
  .btn--stepchart:before {
    width: 9.6rem;
    height: 9.6rem;
    background: #f99d1c;
    margin-left: -4.8rem;
  }
}
.icon--stepchart {
  width: 3rem;
  height: 3.5rem;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
@media only screen and (max-width: calc(650px - 1px)) {
  .icon--stepchart {
    margin-right: 1.5rem;
    fill: #fff;
  }
}
@media only screen and (min-width: 650px) {
  .icon--stepchart {
    width: 6rem;
    height: 5.5rem;
    fill: #52757e;
    position: relative;
  }
}
@media only screen and (min-width: 650px) {
  .btn__text {
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    color: white;
    background: #148839;
    margin-top: 0.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}
.stepnav {
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 20rem;
  position: relative;
}
.stepnav:before {
  position: absolute;
  margin-left: -100rem;
  margin-right: -100rem;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #25b34b;
  speak: none;
}
@media only screen and (min-width: 650px) {
  .stepnav {
    height: 26rem;
  }
}
@media only screen and (min-width: 960px) {
  .stepnav {
    height: 34rem;
    padding-bottom: 10rem;
  }
}
.stepnav__items {
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  counter-reset: stepnav;
  max-width: 960px;
  position: relative;
}
.stepnav__items:before,
.stepnav__items:after {
  position: absolute;
  display: block;
  content: " ";
  top: 50%;
  height: 5.5rem;
  width: auto;
  background: url('../images/b-stepnav.svg') 0 100% no-repeat;
  background-size: 350px auto;
  z-index: 15;
  speak: none;
  margin-top: -10rem;
}
.stepnav__items:before {
  right: 50%;
  left: 27.5%;
  background-position: 0 100%;
}
.stepnav__items:after {
  left: 50%;
  right: 29%;
  background-position: 100% 100%;
}
@media only screen and (min-width: 650px) {
  .stepnav__items {
    height: 11rem;
  }
  .stepnav__items:before,
  .stepnav__items:after {
    margin-top: -13rem;
  }
  .stepnav__items:before {
    left: 29%;
  }
  .stepnav__items:after {
    right: 29%;
  }
}
.stepnav__step {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
  display: block;
  counter-increment: stepnav;
}
.stepnav__step .stepnav__linktext:before {
  content: counter(stepnav) ". ";
}
.stepnav__step:before {
  content: " ";
  position: absolute;
  display: block;
  height: 0.5rem;
  top: 2.1rem;
  background: #f2ebe4;
  width: 100%;
  left: 50%;
  speak: none;
}
.stepnav__step:first-child:before,
.stepnav__step:nth-last-child(2):before {
  background: #148839;
}
.stepnav__step:first-child:before {
  left: 50%;
}
.stepnav__step:last-child:before {
  display: none;
}
@media only screen and (min-width: 960px) {
  .stepnav__step:before {
    height: 0.7rem;
    top: 3.9rem;
  }
}
.stepnav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 5;
  text-decoration: none;
  padding-top: 1.2rem;
}
.stepnav__link:before {
  content: " ";
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  top: 0;
  left: 50%;
  margin-left: -2.75rem;
  background: #f99d1c;
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: background 0.2s, -webkit-transform 0.2s;
  transition: background 0.2s, -webkit-transform 0.2s;
  transition: background 0.2s, transform 0.2s;
  transition: background 0.2s, transform 0.2s, -webkit-transform 0.2s;
  outline: 1rem solid #25b34b;
}
@media only screen and (min-width: 960px) {
  .stepnav__link {
    padding-top: 1.4rem;
  }
  .stepnav__link:before {
    width: 8.4rem;
    height: 8.4rem;
    margin-left: -4.2rem;
    outline: 1.5rem solid #25b34b;
  }
}
.stepnav__link span {
  position: relative;
  z-index: 1;
}
.stepnav__link:hover:before,
.stepnav__link:focus:before,
.stepnav__link.is-active:before {
  background: #f99d1c;
}
.stepnav__link:hover .stepnav__linktext,
.stepnav__link:focus .stepnav__linktext,
.stepnav__link.is-active .stepnav__linktext {
  text-decoration: underline;
}
.stepnav__link:hover:before,
.stepnav__link:focus:before {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.stepnav__link:hover .icon--stepnav,
.stepnav__link:focus .icon--stepnav {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.icon--stepnav {
  display: inline-block;
  width: 3rem;
  height: 3.5rem;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, transform 0.2s;
  transition: background-color 0.2s, transform 0.2s, -webkit-transform 0.2s;
  fill: #fff;
}
.is-active .icon--stepnav {
  color: #fff;
}
@media only screen and (min-width: 960px) {
  .icon--stepnav {
    width: 5rem;
    height: 5.5rem;
  }
}
.stepnav__linktext {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
  color: #fff;
  margin-top: 2.5rem;
}
@media only screen and (max-width: calc(650px - 1px)) {
  .stepnav__linktext {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
}
.container > .flex-xl-nowrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
}
.container > .flex-xl-nowrap > main {
  width: 100%;
}
.container > .flex-xl-nowrap .col-md-3 {
  width: 25%;
  border-right: 0.2rem solid #D1DFE3;
  padding: 3rem;
}
.container > .flex-xl-nowrap .col-md-9 {
  width: 75%;
  padding: 3rem;
}
.hp-wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
  background: #fff;
}
@media only screen and (min-width: 650px) {
  .hp-wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.hp-wrapper h1 {
  margin: 0;
  padding: 0;
}
.hp-wrapper h1 + p {
  margin-top: 2rem;
}
.hp-wrapper h2 {
  border-top: 0.2rem solid #D1DFE3;
  margin-top: 3rem;
}
@media only screen and (min-width: 960px) {
  .hp-wrapper {
    padding: 5rem;
    margin-top: 5rem;
  }
}
.hp-wrapper code {
  border: 0.1rem solid #D1DFE3;
  display: inline-block;
  padding: 0.1rem 1rem;
  border-radius: 0.3rem;
}
#components-cards-default .modifier__example,
#components-cards-tipkaarten .modifier__example,
#components-cards-doelgroep .modifier__example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: 100%;
  max-width: 1200px;
}
#components-cards-default .modifier__example .card,
#components-cards-tipkaarten .modifier__example .card,
#components-cards-doelgroep .modifier__example .card {
  margin-top: 3rem;
  width: calc(50% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@media only screen and (min-width: 960px) {
  #components-cards-default .modifier__example .card,
  #components-cards-tipkaarten .modifier__example .card,
  #components-cards-doelgroep .modifier__example .card {
    width: calc(33.333% - 3rem);
  }
}
#components-textblock .modifier__example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: 100%;
  max-width: 1200px;
}
#components-textblock .modifier__example .text-block {
  margin-top: 3rem;
  width: calc(50% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.layout-container {
  background: #f9f6f3;
}
.bd-content > section {
  background: #fff;
  padding: 2rem;
  margin-top: 3rem;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.bd-content > section > h2 {
  font-weight: normal;
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
}
.bd-content > section > h2 a {
  font-family: 'montserratregular', Helvetica, Arial, sans-serif;
  display: inline-block;
  margin-left: 1rem;
}
@media only screen and (min-width: 960px) {
  .bd-content > section {
    padding: 1rem 3rem 4rem;
  }
}
@media only screen and (min-width: 960px) {
  h1 {
    font-size: 6.8rem;
    line-height: 7.2rem;
  }
}
.btn-group {
  border: 0.1rem solid #D1DFE3;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn-group a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}
.btn-group a svg {
  margin-left: 1rem;
}
.description {
  margin-top: 1.6rem;
}
.highlight {
  margin-top: 3rem;
  border: 0.1rem solid #D1DFE3;
}
.highlight pre {
  border-top: 0.1rem solid #D1DFE3;
  padding: 2rem;
  background: #f9f6f3;
}
.page-navigation {
  background: #004152;
}
.page-navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar-brand {
  display: block;
  margin-right: 3rem;
  padding: 1rem 2rem;
}
.navbar-brand img {
  display: block;
  width: 12rem;
  height: auto;
}
.navbar-toggler {
  display: none;
}
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}
.navbar-nav li {
  list-style: none;
  margin-right: 3rem;
}
.navbar-nav a {
  color: #fff;
  font-family: 'montserratsemibold', Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 1rem 1rem;
  text-decoration: none;
  position: relative;
}
.navbar-nav a:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #25b34b;
  height: 0.3rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.navbar-nav a:hover:before,
.navbar-nav a:focus:before,
.navbar-nav a.is-active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.section-nav {
  position: fixed;
}
.section-nav li {
  list-style: none;
}
.section-nav li a {
  display: block;
  text-decoration: none;
}
.section-nav li a:focus,
.section-nav li a:hover {
  text-decoration: underline;
}
.section-nav li a.back-to-top {
  margin-top: 2rem;
  border-top: 0.1rem solid #D1DFE3;
  padding-top: 1rem;
  font-size: 1.4rem;
}
.section-nav > li > a {
  padding: 0.3rem 1rem;
}
.section-nav > li.toc-h1 > a {
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
}
.section-nav > li.toc-h2 > a {
  padding-left: 2rem;
}
.nav-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem;
}
.nav-item.nav-item--main {
  border-top: 0.1rem solid #D1DFE3;
}
.nav-item.nav-item--main a {
  padding: 1rem 0.2rem;
  font-family: 'montserratsemibold', Helvetica, Arial, sans-serif;
}
.nav-item.nav-item--sub {
  padding-left: 0.3rem;
  font-size: 1.4rem;
}
.nav-item.nav-item--sub .nav-item__ref-number {
  min-width: 3.7rem;
}
.nav-item.nav-item--sub + .nav-item--main {
  margin-top: 1rem;
}
.nav-item__ref-number {
  display: inline-block;
}
.stepchart {
  margin-top: 0 !important;
}
.text-block + .text-block {
  margin-top: 3rem;
}
.stepnav:before {
  margin: 0 !important;
}
.gc-sg-color-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.gc-sg-color-wrapper + .gc-sg-color-wrapper {
  border-top: 0.1rem solid #D1DFE3;
  margin-top: 1.5rem;
  padding-top: 3rem;
}
.gc-sg-color-wrapper > h3 {
  width: 100%;
}
.colors-smaller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.colors-smaller > h3 {
  width: 100%;
  padding-left: 1.5rem;
}
@media only screen and (min-width: 650px) {
  .colors-smaller {
    width: 50%;
  }
}
.kleur {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 22rem;
}
.kleur .descr {
  font-size: 1.4rem;
  color: #52757e;
  margin-top: 0.5rem;
}
.colors-smaller .kleur {
  width: 10rem;
}
.kleur__staaltje {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
}
.colors-smaller .kleur__staaltje {
  height: 10rem;
}
.kleur__naam {
  display: block;
  margin-top: 1.6rem;
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
}
/*
 * Kleurekes
 */
.gc-green {
  background: #25b34b;
}
.gc-dark-blue {
  background: #004152;
  color: #fff;
}
.gc-pantybrown {
  background: #e8d8c7;
}
.gc-dark-purple {
  background: #4c2974;
  color: #fff;
}
.gc-blue {
  background: #0095da;
}
.gc-pink {
  background: #c42c76;
  color: #fff;
}
.gc-orange {
  background: #f99d1c;
}
.gc-cyan {
  background: #00b4ac;
}
/* ---- Blauwtjes */
.gc-darker-blue {
  background: #00303d;
  color: #fff;
}
.gc-greyblue {
  background: #52757e;
  color: #fff;
}
.gc-blue-x-light {
  background: #D1DFE3;
}
/* ---- Groentjes en bruintjes */
.gc-a11y-green {
  background: #148839;
  color: #fff;
}
.gc-a11y-green-dark {
  background: #055C21;
  color: #fff;
}
.gc-pantybrown-light {
  background: #f2ebe4;
}
.gc-pantybrown-xlight {
  background: #f9f6f3;
}
/* ---- Inclusie */
.inc-orange {
  background: #D94721;
}
.inc-a11y-orange {
  background: #c73d19;
  color: #fff;
}
/* ---- NL Design System */
.nlds-purplish {
  background: #74295f;
  color: #fff;
}
.gc-a11y-blue {
  background: #007BB0;
  color: #fff;
}
/* ---- Optimaal Digiraal */
.od-orange {
  background: #BA4F0C;
  color: #fff;
}
.od-orange-darker {
  background: #983A00;
  color: #fff;
}
.gc-a11y-green-lg {
  background: #1DA742;
}
.gc-orange-a11y-lg {
  background: #D77D00;
}
.gc-a11y-cyan-lg {
  background: #009C95;
}
.gc-dark-purple-darker {
  background: #2D114E;
}
.gc-dark-purple-lighter {
  background: #9267C3;
}
.gc-pink-darker {
  background: #A20E56;
}
.gc-pink-lighter {
  background: #E86CA8;
}
.gc-blue-darker {
  background: #007BB0;
}
