.author {

  .author__contact-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .link--contact {
    margin: 1rem 1rem 0 0;

    @media @tablet {
      + .social-links {
        margin-left: 1rem;
      }
    }
  }

  .social-links {
    margin: 1rem 0 0;
    padding: 0;
    display: flex;

    @media @tablet {
      margin-top: 0;
    }
  }

  .social-links__item {
    margin: 1rem 1rem 0 0;
  }

  p {
    margin: 2rem 0 0;
  }


  &.l-with-image {
    display: flex;

    .author__picture {
      width: 8rem;
    }

    .author__content {
      width: calc(100% - 14rem);
      padding-left: @gutter;
    }

    @media @desktop {
      .author__picture {
        width: 14rem;
      }

      .author__content {
        width: calc(100% - 14rem);
      }
    }
  }

}

.author__picture {
  img {
    .gc-box-shadow;
    width: 100%;
    height: auto;
    display: block;
  }
}

.author--box {
  .gc-box-shadow;
  background: @gc_pantybrown_xlight;
  position: relative;
  padding: 3rem 2rem 2rem;
  display: block;
  margin-top: @gutter;

  &:before {
    content: " ";
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: block;
    background: @gc_pantybrown_xlight;
    top: 0;
    left: 6rem;
    margin-top: -1.5rem;
    transform: rotate(45deg);
  }

  .author__content {
    width: 100%;
    padding: 0;
  }

  h2,
  .author__title {
    .font-size(24);
    margin: 0;
    padding: 0;
  }

  .meta-data__item {
    color: @meta_color;
    font-size: @font_small;
  }

  hr {
    border-color: @gc_pantybrown;
    margin: 1.5rem 0;
  }

  .author__contact-info {
    font-size: @font_small;
    margin-top: 2rem;
  }

  p {
    margin: 0;
  }

  @media @tablet {
    padding: 3rem;
  }

  .actieteam & {
    &:before {
      display: none;
    }
  }
}


// Detailpagina

.author--full {
  .gc-box-shadow;
  background: @intro_bg;
  color: @intro_color;
  display: flex;
  padding: 2rem;

  @media @tablet {
    padding: 3rem;
  }

  @media @desktop {
    padding: 4rem;
  }

  h1, h2, h3 {
    color: @intro_color;
  }

  .link--contact {
    color: @intro_color;
    border-color: @gc_dark_purple_lighter;

    &:before {
      display: none;
    }
  }

  .link--social {
    color: transparent;
  }

  .author__contact-info {
    margin-top: @gutter;
  }

  hr {
    border-color: @gc_dark_purple_darker;
    margin: 2rem 0;
  }
}

// In single

.archive.author {

  .site-inner {
    .gc-page-background;
  }

  .content-sidebar-wrap {
    max-width: @max-width-content;
  }

  .author-box {
    background: @gc_dark_purple;
    color: @white;

    &:before {
      display: none;
    }

    hr {
      border-color: darken(@gc_dark_purple, 10%);
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    .wrap,
    .author-info {
      width: 100%;
    }

    .lid-actieteam {
      .gc-box-shadow();
      .clearfix;
      position: relative;
      background: @white;
      padding-top: 3rem;
      padding-bottom: 3rem;

      @media @desktop {
        padding-top: 6rem;
      }

      h2 {
        margin: 0;
        padding: 0;

        + p {
          margin-top: 1rem;
        }
      }

      .bg-color {
        max-width: @max-width-inner;
        margin: 0 auto;
      }
    }

    .type-post {
      .gc-box-shadow;
      background: @white;
      margin-top: @gutter;
      width: ~"calc(50% - (@{gutter} / 2))";
      padding: 2rem;
      display: flex;
      flex-direction: column;

      .entry-header {
        width: 100%;
      }


      @media @desktop {
        padding-left: 3rem;
        padding-right: 3rem;
      }

      &:nth-child(odd) {
        margin-right: @gutter / 2;
      }

      &:nth-child(even) {
        margin-left: @gutter / 2;
      }

      .read-more {
        margin-top: auto;

        a {
          .gc-read-more;
        }
      }
    }
  }
}