.definition-list {
  display: flex;
  flex-wrap: wrap;

  dt,
  dd {
    border-top: .1rem solid @border_color;
    display: inline-block;
    margin: 0;
    padding: 1rem .5rem;
  }

  dt {
    width: 30%;
    padding-right: 3rem;
    font-family: @font_primary_semi;
  }

  dd {
    width: 70%;
  }
}