.entry-list .entry {

  header {
    padding: 2rem;
  }

  .excerpt {
    padding: 0 2rem 2rem;
  }

  + .entry {
    border-top: .1rem solid @border_color;
    padding: 0;

    &:hover,
    &:focus {
      border-color: @gc_blue_dark;
    }
  }

  .entry-title {
    .gc-list-title;
    margin: 0;
    padding: 0 1rem 0 0;
  }

  .meta-data {
    margin-top: .8rem;
  }

  .arrow-link {
    padding-top: 0;
    position: relative;
  }

  .arrow-link__icon {
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
  }

  // With images (blog)
  &--with-image {
    .entry__link {
      display: flex;
    }

    .bloginfo {
      width: ~"calc(100% - @{fi_sm})";

      @media @tablet_only {
        width: ~"calc(100% - @{fi_md})";
      }

      @media @desktop {
        width: ~"calc(100% - @{fi_lg})";
      }
    }
  }

  // Event

  &--event {
    .entry__link {
      min-height: 10rem;
    }

    header {
      position: relative;
      padding-left: 7rem;

      .date-badge {
        position: absolute;
        left: 2rem;
        top: 2rem;
      }
    }

    &:first-child {
      .entry__link {
        background: @white;
      }

      header {
        padding-left: 9rem;
      }

      .date-badg {

      }
    }

    &:not(:first-child) {
      .excerpt,
      .meta-data {
        .visuallyhidden;
      }
    }
  }
}

.entry__featured-image {
  flex: 1;
  width: @fi_sm;
  height: @fi_sm;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media @tablet {
    width: @fi_md;
    height: @fi_md;
  }

  @media @desktop {
    width: @fi_lg;
    height: @fi_lg;
  }
}

// Events

.entry__link {
  display: block;
  text-decoration: none;
  background: @grey_x_light;
  transition: color .2s, background .2s;
  position: relative;

  &:hover,
  &:focus {
    background: @white;
    border-color: @gc_blue_dark;
    color: @gc_blue_darkest;
    box-shadow: 0 0 .6rem rgba(#000, 0.1);
    z-index: +1;

    h3,
    .excerpt {
      text-decoration: underline;
    }

    .arrow-link__icon {
      .gc-box-shadow;
      background-color: @white;
      border-color: @gc_blue_dark;
    }

    .date-badge {
      background: @gc_a11y_green;
      text-decoration: none;

      span {
        color: @white;
        text-decoration: none;
        display: block;
      }
    }

    .arrow-link__text {
      text-decoration: underline;
    }
  }
}

// BLogs

