// Actieteam

.page-template-page_actieteam {
  .actieteam {
    .grid-col-2;
    box-shadow: none;

    .author {
      .link--contact + .social-links {
        margin-left: 0;
      }
    }

    .author-box:before {
      display: none;
    }

    .author__contact-info {
      display: block;
    }


    .author.l-with-image {

      @media @tablet {
        .author__picture {
          width: 6rem;
        }

        .l-author-header {
          padding-left: 0;
          padding-top: 8rem;
        }
      }

      @media @desktop {
        .author__picture {
          width: 8rem;
          position: absolute;
          left: 3rem;
          top: 3rem;
        }

        .l-author-header {
          padding-left: 10.5rem;
          padding-top: 0;
          min-height: 9rem;
        }

        .author__content {
          padding-left: 0;
        }
      }
    }
  }
}


/* Whenever there is a hero image **/

.hero-image {
  margin: 0 -1.5rem 3rem;
  height: 20rem;

  @media @tablet {
    margin-left: -3rem;
    margin-right: -3rem;
    height: 30rem;
  }

  @media @desktop {
    margin-top: -8rem;
    height: 36rem;
    margin-bottom: 7rem;
  }

  @media @desktop-xxl {
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
  }
}

.hero-image__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}