// Actieteam

.page-template-page_actieteam {
  .actieteam {
    .grid-col-2;
    box-shadow: none;

    .author-box:before {
      display: none;
    }

    .author-box {
      height: 100%;
      padding-bottom: 0;
    }
    

    .author-info {
      .author-box-title,
      p[itemprop="jobTitle"] {
        padding-left: 10rem;
      }
    }
  }
}


/* Whenever there is a hero image **/

.hero-image {
  margin: 0 -1.5rem 3rem;
  height: 20rem;

  @media @tablet {
    margin-left: -3rem;
    margin-right: -3rem;
    height: 30rem;
  }

  @media @desktop {
    margin-top: -8rem;
    height: 36rem;
    margin-bottom: 7rem;
  }

  @media @desktop-xxl {
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
  }
}

.hero-image__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}