.brand__image {
  .gc-box-shadow;
  display: flex;
  padding: 3rem;
  min-height: 12rem;
  justify-content: center;
  align-items: center;
  border: .1rem solid @border_color;

  img {
    display: block;
    max-height: 9rem;
    width: auto;
  }
}