
.section__title {
  margin: 0;
  padding-top: 2rem;
  text-transform: uppercase;
  border-top: .2rem solid @border_color;
  font-family: @font_secondary;
}

.l-section-top {
  max-width: @max-width-inner;
  margin: 0 auto;
}

.l-section-content {
  max-width: @contentmaxwidth;
  margin: 0 auto;

  .grid:not(.grid--col-3){
    max-width: ~"calc(@{max-width-inner} + @{gutter})";
    margin: 0 auto;
  }

  .item-list {
    max-width: ~"calc(@{max-width-inner} + @{gutter})";
    margin: 2rem auto 0;
  }
}

.content .section__title,
.section__title {
  font-family: @font_secondary;
  .font-size(38);
  padding: 2rem 0 0;

  @media @desktop {
    .font-size(48);
  }
}

.l-section-links {
  text-align: right;
  margin-top: @gutter;
}

.section--related-content + .section--related-links {
  .section__title {
    border: none;
  }
}

// Overviews

.section--overview {
  .grid + p {
    display: flex;
  }

  .btn {
    margin-top: @gutter;
    margin-left: auto;

    @media @desktop {
      margin-top: 4.5rem;
    }
  }
}

.section--actual {
  .section__title {
    border: none;
  }

  .teaser--small {
    margin-top: 2rem;
  }

  .btn {
    margin-top: @gutter;
  }

  .grid {
    margin-top: @gutter;
  }

  @media @tablet {
    .l-section-content {
      display: flex;

      .grid {
        margin-left: -@gutter / 2;
        margin-right: -@gutter / 2;
      }
    }
  }
}

.l-section-col {
  &.col--50-width {
    @media @tablet {
      width: 50%;

      &:nth-child(odd){
        margin-right: @gutter / 2;
      }

      &:nth-child(even){
        margin-left: @gutter / 2;
      }
    }
  }
}