
.section__title {
  margin: 0;
  padding-top: 2rem;
  text-transform: uppercase;
  border-top: .2rem solid @border_color;
  font-family: @font_secondary;
}

.l-section-top {
  max-width: @max-width-inner;
  margin: 0 auto;
}

.l-section-content {
  max-width: @contentmaxwidth;
  margin: 0 auto;

  .grid:not(.grid--col-3){
    max-width: ~"calc(@{max-width-inner} + @{gutter})";
    margin: 0 auto;
  }

  .item-list {
    max-width: ~"calc(@{max-width-inner} + @{gutter})";
    margin: 2rem auto 0;
  }
}

.content .section__title,
.section__title {
  .font-size(38);

  @media @desktop {
    .font-size(48);
  }
}