

.section__title {
  padding: 2rem 0;
//  text-transform: uppercase;
  border-top: .2rem solid @border_color;
  margin-top: 3rem;

  @media @tablet {
    margin-top: 5rem;
  }
}

.content .section__title {
  .font-size(38);

  @media @desktop {
    .font-size(48);
  }
}