.entry-header + .entry-content {
  margin-top: 1.8rem;
}

h1 + .meta-data {
  margin-top: 1rem;
}

.comments-area {
  max-width: @max-width-inner;
  margin-left: auto;
  margin-right: auto;
}

.entry-header {
  position: relative;

  .social-media {
    margin: 1rem 0 0;
    padding: 0;

    li {
      margin: 0 1rem 0 0;
    }
  }

  .entry-meta {
    margin-top: 1rem;
  }

  @media @tablet {
    padding-left: 5rem;

    .social-media {
      position: absolute;
      max-width: 3.2rem;
      margin: 0;
      top: 0;
      left: 0;

      li {
        margin: 0;
      }
    }

    .date-badge {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @media @desktop {
    padding-left: 0;

    .social-media {
      margin-left: -5.5rem;
    }

    .date-badge {
      margin-left: -6rem;
    }
  }
}

.entry-header,
.entry-content {
  max-width: @max-width-inner;
  margin: 0 auto;

  + p {
    margin-top: 1.6rem;
  }

  @media @tablet {
    // no padding without socmed or date
    .home & {
      padding-left: 0;
    }
  }
}

// Overrides die moeten

.social-links {
  display: flex;

  .social-links__item {
    list-style: none;
    margin-right: 1rem;
  }

  .entry-content & {
    margin: 0;
  }
}


.entry-content  .link--social {
  color: transparent;

  &:hover, &:active, &:focus {
    color: transparent;
  }
}


// Entry blog, can contain image

.single-post {
  .content-sidebar-wrap {
    padding-top: 0;
  }

  .post {
    padding-top: 3rem;

    @media @desktop {
      padding-top: 5rem;
    }
  }

  .content:before {
    // Negate default padding
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    height: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media @tablet {
      margin-left: -3rem;
      margin-right: -3rem;
      height: 30rem;
    }

    @media @desktop {
      height: 40rem;
    }
  }
}

.pagination {
  .gc-pagination;
  width: 100%;
  margin-top: 3rem;

  @media @desktop {
    margin-top: 3rem;
  }

  a {
    border-color: @border_color;
    //box-shadow: none;
  }

  > div:not(.pagination) {
    width: 50%;
  }

  .pagination-previous {
    padding-right: @gutter / 2;
  }

  .pagination-next {
    padding-left: @gutter / 2;
  }
}

// Location teaser

.entry.location {
  .teaser__link {
    display: block;
    padding-right: 3rem;
  }
}


/* Download box - only used on singles */

.download-box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border-top: .1rem solid @border_color;
  border-bottom: .1rem solid @border_color;
  padding: 1.5rem 0;
  width: 100%;


  .meta-data {
    width: 100%;
    margin: .8rem 0 0 0;
  }

  h3,
  h2 {
    .font-size(18);
    line-height: 2.4rem;
    padding: .5rem 2rem 0 0;
    margin: 0;
    flex: 1;
  }

  .btn {
    margin-left: auto;
  }

  + p {
    margin-top: 1.8rem;
  }

  @media @tablet_only {
    .btn {
      color: transparent;
      width: 3.6rem;
      height: 3.6rem;
      padding: 0;
      background-position: center center;
    }

    h3 {
      width: calc(100% - 4.5rem);
    }
  }
}

/* Comments */

.comment-list {
  padding: 0;

  li {
    list-style: none;
  }
}

.comment {
  .gc-box-shadow;
  border: .1rem solid @border_color;
  padding: 2rem;

  @media @tablet {
    padding: 2.5rem 3rem 3rem;
  }

  @media @desktop {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .comment {
    border-top: .2rem solid @border_color;
    padding: 2rem;
    margin-top: @gutter;
    box-shadow: none;

    @media @desktop {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  + .comment {
    margin-top: @gutter;
  }
}

.comment-author {
  color: @meta_color;
  font-size: @font_small;
  font-family: @font_primary_semi;
}

.comment-content {
  margin-top: 1.5rem;
}

.comment-meta {
  color: @meta_color;
  font-size: @font_small;
  font-family: @font_primary_semi;
  display: flex;

  .reply {
    margin-left: auto;
    padding-left: 2rem;
  }

  a {
    display: inline-block;
  }
}

.comment-respond {
  margin-top: 3rem;
  padding-bottom: 3rem;

  @media @desktop {
    padding-bottom: 5rem;
    margin-top: 5rem;
  }

  h3 {
    font-size: 2.2rem;
  }
}

.comment-form {
  label {
    + input,
    + textarea {
      margin-top: .5rem;
    }
  }

  .form-submit {
    margin-top: @gutter;
  }

  @media @tablet {
    display: flex;
    flex-wrap: wrap;

    .comment-form-comment,
    .form-submit {
      width: 100%;
    }

    .author,
    .email {
      width: 50%;
    }

    .author {
      padding-right: @gutter / 2;
    }

    .email {
      padding-left: @gutter / 2;
    }
  }
}