.entry-header + .entry-content {
  margin-top: 1.8rem;
}

h1 + .meta-data {
  margin-top: 1rem;
}

.comments-area {
  max-width: @max-width-inner;
  margin-left: auto;
  margin-right: auto;
}

.entry-header {
  position: relative;

  .social-media {
    margin: 1rem 0 0;
    padding: 0;

    li {
      margin: 0 1rem 0 0;
    }
  }

  .entry-meta {
    margin-top: 1rem;
  }

  @media @tablet {
    padding-left: 5rem;

    .social-media {
      position: absolute;
      max-width: 3.2rem;
      margin: 0;
      top: 0;
      left: 0;

      li {
        margin: 0;
      }
    }

    .date-badge {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @media @desktop {
    padding-left: 0;

    .social-media {
      margin-left: -5.5rem;
    }

    .date-badge {
      margin-left: -6rem;
    }
  }
}

.entry-header,
.entry-content {
  max-width: @max-width-inner;
  margin: 0 auto;

  + p {
    margin-top: 1.6rem;
  }
}

.entry-content {
  @media @tablet {
    position: relative;
    padding-left: 5rem;

    > .social-media {
      position: absolute;
      max-width: 3.2rem;
      margin: 0;
      top: 0;
      left: 0;

      li {
        margin: 0;

        + li {
          margin-top: .4rem;
        }
      }
    }
  }

  @media @desktop {
    padding-left: 0;

    > .social-media {
      margin-left: -5.5rem;
    }
  }
}

.single .entry-content {

  > h2 {
    .font-size(24);
    line-height: 3rem;
    font-family: @font_primary_bold;
  }

  > h3 {
    .font-size(20);
    line-height: 2.6rem;
    font-family: @font_primary_semi;
  }
}

// Entry blog, can contain image

.single-post {
  .content-sidebar-wrap {
    padding-top: 0;
  }

  .post {
    padding-top: 3rem;

    @media @desktop {
      padding-top: 5rem;
    }
  }

  .content:before {
    // Negate default padding
    margin-left: -1.5rem;
    margin-right: -1.5rem;

    @media @tablet {
      margin-left: -3rem;
      margin-right: -3rem;
    }
  }
}

.author-box {
  .gc-box-shadow;
  position: relative;
  padding: 2rem;
  background: @gc_pantybrown_xlight;
  margin-top: 3rem;

  &:before {
    content: " ";
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: block;
    background: @gc_pantybrown_xlight;
    top: 0;
    left: 6rem;
    margin-top: -1.5rem;
    transform: rotate(45deg);
  }

  @media @desktop {
    padding: 3rem;
  }

  .bg-color {
    display: flex;
    align-items: flex-start;
  }

  hr {
    border-color: @border_color;
    margin: 2rem 0;
  }

  .social-media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: @font_small;
    max-width: calc(100% - 4rem);
    padding-left: 0;

    li {
      margin: 0 1rem 0 0;
    }

    a[itemprop="email"],
    a[itemprop="telephone"] {
      width: auto;
      padding-top: .2rem;
      box-sizing: border-box;
      background-color: none;

      &:before {
        display: block;
        content: " ";
        float: left;
        width: 1.5rem;
        height: 1.5rem;
        margin-top: .5rem;
        margin-right: .8rem;
        border: none;

      }
    }

    a {
      transition: border-color .2s;
      text-decoration: none;
      padding: 0 1rem;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }

      &[itemprop="email"] {

        &:before {
          background: url('../images/icon-mail.png') no-repeat center center;
          .icon_replace_filler('../images/icon-mail.svg', @gc_darkblue, @txt);
          height: 12px;
        }
      }

      &[itemprop="telephone"] {
        &:before {
          background: url('../images/icon-phone.png') no-repeat center center;
          .icon_replace_filler('../images/icon-phone.svg', @gc_darkblue, @txt);
        }
      }
    }
  }

  .enry-content & {
    li {
      margin: 0;
    }
  }
}

.author-photo {
  margin-right: @gutter;
  max-height: 90px;
  width: auto;
}

.avatar {
  border: none;
}

h2.author-box-title {
  margin: 0;
  padding: .5rem 0 0 0;
  font-family: @font_primary_bold;

  + p {
    font-size: @font_small;
    color: @meta_color;
    margin: 1rem 0 0 0;
  }
}

.author-archive {
  .gc-box-shadow;
  float: right;
  border: .1rem solid @border_color;
  width: 3rem;
  height: 3.5rem;
  margin-top: -3rem;
  background: url('../images/arrow-right-blue.svg') center center no-repeat;
  background-size: auto 1.2rem;
  transition: border-color .2s, color .2s;

  &:hover,
  &:focus,
  &:active {
    background-color: @white;
    border-color: @gc_blue_dark;
  }
}

.pagination {
  .gc-pagination;
  width: 100%;
  margin-top: 3rem;

  @media @desktop {
    margin-top: 3rem;
  }

  a {
    border-color: @border_color;
    //box-shadow: none;
  }

  > div:not(.pagination) {
    width: 50%;
  }

  .pagination-previous {
    padding-right: @gutter / 2;
  }
  .pagination-next {
    padding-left: @gutter / 2;
  }
}

.comments-area {
  .gc-rotated-bg;
  padding-bottom: 3rem;
  margin-bottom: -3rem;

  @media @tablet {
    padding-bottom: 8rem;
    margin-bottom: -5rem;
  }
}