.stepchart {
  position: relative;
  max-width: @max-width-inner;
  margin-left: auto;
  margin-right: auto;

  @media @tablet {
    margin-top: -4rem;
  }

  @media @desktop {
    margin-top: -13rem;
  }
}

.stepchart__bg {
  position: relative;
  > img {
    display: none;
  }

  @media only screen and ( min-width: ( @break_tablet )) {
    > img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.entry-content .stepchart__items {
  margin: 0;
  padding: 0;
}

.stepchart__item {
  list-style: none;

  @media only screen and ( max-width: ( @break_tablet )) {
    .gc-box-shadow();
    margin-top: @gutter;
  }

  @media only screen and ( min-width: ( @break_tablet )) {
    position: absolute;
    margin-top: -60px;
    margin-left: -70px;

    &:first-child {
      top: 50%;
      left: 50%;
    }

    &:nth-child(2) {
      top: 30%;
      left: 28%;
    }

    &:nth-child(3) {
      top: 45.5%;
      right: 16%;
    }

    &:nth-child(4) {
      bottom: 17%;
      left: 40%;
    }

    &:nth-child(5) {
      bottom: 8%;
      right: 8%;
    }
  }
}

// Override vanwege content bepaling
.entry-content ol li.stepchart__item {
  list-style: none;
}

#home-inleiding .stepchart__description p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.stepchart__description {
  background: @wit;
  color: @gc_blue_dark;
  padding: 2rem;

  .cta {
    float: none;
  }

  .btn--close {
    display: none;
    @media only screen and ( min-width: ( @break_tablet )) {
      display: block;
      position: absolute;
      right: 2rem;
      top: 2rem;
    }
  }

  @media only screen and ( min-width: ( @break_tablet )) {
    .gc-box-shadow();
    position: absolute;
    bottom: 13.5rem;
    width: 40rem;
    left: 50%;
    margin-left: -20rem;
    text-align: center;
    padding: 2rem 4.5rem 3rem;
    z-index: 90;

    .cta {
      display: inline-block;
    }

    &:before,
    &:after {
      content: " ";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 15px 0 15px;
      border-color: @wit transparent transparent transparent;
      bottom: 0;
      margin-bottom: -3rem;
      left: 50%;
      margin-left: -15px;
      speak: none;
    }

    &:before {
      z-index: -1;
      margin-left: -9px;
      border-top-color: rgba(#000, 0.1);
    }
  }

  @media only screen and ( min-width: ( @break_fullwidth )) {
    width: 50rem;
    margin-left: -25rem;
  }
}

.stepchart__title {
  .font-size(32);
  font-family: @font_secondary;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  + .description {
    margin-top: 1rem;
  }

  @media only screen and ( min-width: ( @break_tablet )) {
    .font-size(42);
    margin: 1rem 1.5rem 0;
  }
}

.btn--stepchart {
  border: none;
  font-family: @font_secondary;
  color: @stepchart_label_color;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: none;
    border: none;
    outline: none;
  }

  @media @tablet_only {
    .font-size(26);
    text-align: left;
    display: flex;
    background: @stepchart_label;
    background-size: 30px auto;
    padding: 1rem 1.5rem;
    align-items: center;
    transition: background-color .2s;
    width: 100%;

    &:after {
      content: " ";
      display: block;
      margin-left: auto;
      width: 3rem;
      height: 3.4rem;
      background: url(../images/arrow-down.svg) center center no-repeat;
      border: .1rem solid transparent;
      speak: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      background-color: darken(@stepchart_label, 10%);
      color: @wit;
      border: none;
      outline: none;

      &:after {
        background: transparent url(../images/arrow-down.svg) center center no-repeat;
        border-color: @wit;
      }
    }
  }

  @media @tablet {
    background: none;
    width: 140px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0 0 0;
    position: relative;
    z-index: 5;

    &:before {
      content: " ";
      position: absolute;
      width: 8rem;
      height: 8rem;
      background: @stepchart_icon_bg;
      border-radius: 50%;
      z-index: -1;
      top: 0;
      left: 50%;
      margin-left: -4rem;
      transition: background-color .2s;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      background: none;
      color: @white;

      &:before {
        background: @stepchart_icon_bg_hover;
      }

      .icon--stepchart {
        transform: scale(1.1);
      }
    }
  }

  @media @desktop {

    &:before {
      width: 9.6rem;
      height: 9.6rem;
      background: @stepchart_icon_bg;
      margin-left: -4.8rem;
    }
  }
}


.icon--stepchart {
  width: 3rem;
  height: 3.5rem;
  display: inline-block;
  transition: transform .2s;

  @media @tablet_only {
    margin-right: 1.5rem;
    fill: @stepchart_icon_color;
  }

  @media @tablet {
    width: 6rem;
    height: 5.5rem;
    fill: @stepchart_icon_color_desktop;
    position: relative;
  }
}


.btn__text {
  @media @tablet {
    .gc-box-shadow;
    display: inline-block;
    color: white;
    background: @stepchart_label;
    margin-top: .5rem;
    padding: .8rem 1.5rem;
    font-size: 2.4rem;
    line-height: 2.4rem
  }
}

.stepchart_page(@brand_color: @color_primary) {
  .site-inner,
  .content-sidebar-wrap {
    max-width: none;
    padding: 0;
  }
  .content {
    float: none;
  }

  .site-inner {
    padding-bottom: 3rem;

    @media @desktop {
      padding-bottom: 5rem;
    }
  }

  .region--intro {
    font-size: 2rem;
    line-height: 3.2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
  }

  .type-page.entry {
    background: @brand_color;

    @media @desktop {
      padding-top: 10rem;
    }
  }
}
