
.stepnav {
  padding-bottom: 5rem;
  display: flex;
  align-items: flex-end;
  height: 20rem;
  position: relative;

  &:before {
    position: absolute;
    margin-left: -100rem;
    margin-right: -100rem;
    content: " ";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: @brand_color;
    speak: none;
  }

  @media @tablet {
    height: 26rem;
  }

  @media @desktop {
    height: 34rem;
    padding-bottom: 10rem;
  }
}

.stepnav__items {
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  counter-reset: stepnav;
  max-width: @contentwidth_960;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: " ";
    top: 50%;
    height: 5.5rem;
    width: auto;
    background: url('../images/b-stepnav.svg') 0 100% no-repeat;
    background-size: 350px auto;
    z-index: 15;
    speak: none;
    margin-top: -10rem;
  }

  &:before {
    right: 50%;
    left: 27.5%;
    background-position: 0 100%;
  }

  &:after {
    left: 50%;
    right: 29%;
    background-position: 100% 100%;
  }

  @media @tablet {
    height: 11rem;

    &:before,
    &:after {
      margin-top: -13rem;
    }

    &:before {
      left: 29%;
    }

    &:after {
      right: 29%;
    }
  }
}

.stepnav__step {
  list-style: none;
  flex: 1;
  text-align: center;
  position: relative;
  display: block;
  counter-increment: stepnav;

  .stepnav__linktext:before {
    content: counter(stepnav) ". "
  }

  &:before {
    content: " ";
    position: absolute;
    display: block;
    height: .5rem;
    top: 2.1rem;
    background: @gc_pantybrown_light;
    width: 100%;
    left: 50%;
    speak: none;
  }

  &:first-child,
  &:nth-last-child(2) {
    &:before {
      background: @brand_color_darker;
    }
  }

  &:first-child:before {
    left: 50%;
  }

  &:last-child:before {
    display: none;
  }

  @media only screen and ( min-width: ( @break_fullwidth )) {
    &:before {
      height: .7rem;
      top: 3.9rem;
    }
  }
}

.stepnav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 5;
  text-decoration: none;
  padding-top: 1.2rem;

  &:before {
    content: " ";
    position: absolute;
    width: 5.5rem;
    height: 5.5rem;
    top: 0;
    left: 50%;
    margin-left: -2.75rem;
    background: @stepnav_icon_bg;
    z-index: -1;
    border-radius: 50%;
    transition: background .2s, transform .2s;
    outline: 1rem solid @brand_color;
  }

  @media @desktop {
    padding-top: 1.4rem;

    &:before {
      width: 8.4rem;
      height: 8.4rem;
      margin-left: -4.2rem;
      outline: 1.5rem solid @brand_color;
    }
  }

  span {
    position: relative;
    z-index: +1;
  }

  &:hover,
  &:focus,
  &.is-active {

    &:before {
      background: @stepnav_icon_active_bg;
    }

    .stepnav__linktext {
      text-decoration: underline;
    }
  }

  &:hover,
  &:focus {

    &:before {
      transform: scale(1.05);
    }

    .icon--stepnav {
      transform: scale(1.05);
    }
  }
}

.icon--stepnav {
  display: inline-block;
  width: 3rem;
  height: 3.5rem;
  transition: background-color .2s, transform .2s;
  fill: @stepnav_icon_color;

  .is-active & {
    color: @stepnav_icon_active_color;
  }

  @media @desktop {
    width: 5rem;
    height: 5.5rem;
  }

}

.stepnav__linktext {
  .font-size(16);
  font-family: @bodyfont_bold;
  color: @white;
  margin-top: 2.5rem;

  @media @tablet_only {
    .visuallyhidden();
  }
}

// stepnav page

.gc-page-step(@bg_page: @gc_a11y_green, @bg_intro: @intro_bg, @color: @white) {

  .content-sidebar-wrap {
    padding-top: 0;
  }

  #maincontent {
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      background: @bg_page;
      left: 0;
      right: 0;
      top: 0;
      height: 30rem;
      display: block;

      @media @desktop {
        height: 44rem;
      }
    }
  }

  .site-inner header {
    padding: 0;
    margin: 0;
  }

  .inleiding {
    .gc-box-shadow;
    .gc-content-container;
    background: @intro_bg;
    color: @color;
    padding: 2rem;

    @media @tablet {
      padding: 3rem 5rem;
    }
  }

  .content-sidebar-wrap {
    padding: 0;
    position: relative;

    > .content {
      padding: 0;
      background: none;
      box-shadow: none;
    }
  }

  .content .entry {
    .gc-content-container;
    .gc-padding;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: @white;
  }

  .l-content-menu-wrapper {
    display: none; //sorry sorry - kunnen we deze niet printen op de stap single?
  }

  .section__title {
    border-color: @gc_pantybrown;
  }

  .section,
  .extra-content {
    + .section {
      margin-top: @gutter;

      @media @desktop {
        margin-top: 8rem;
      }
    }
  }

  .item-list__item {
    border-color: @gc_pantybrown;
  }

}
