
.text-block {
  margin-top: @gutter;

  p {
    max-width: 90%;
    margin: 1.8rem 0 0 0;
  }

  .btn {
    margin-top: 2rem;
    margin-right: 2rem;
  }

  &--bg {
    .gc-box-shadow;
    .gc-padding;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &.l-bg-white {
    background: @white;
  }

  &.l-bg-primary,
  &.l-bg-secondary {
    .btn--primary {
      background: @white;
      color: @gc_darkblue;

      &:after {
        background-color: @gc_blue_xlight;
        background-image: url('./images/arrow-right-blue.svg');
      }

      &:hover,
      &:focus {
        background-color: @gc_blue_xlight;

        &:after {
          background-color: darken(@border_color, 10%);
        }
      }
    }
  }

  &.l-bg-primary {
    background: @tb_primary_bg;
    color: @tb_primary_color;

    .btn--read-more {
      color: @tb_primary_color;
    }
  }

  &.l-bg-secondary {
    background: @tb_secondary_bg;
    color: @tb_secondary_color;

    .btn--read-more {
      color: @tb_secondary_color;
    }
  }

  &.l-text-centered {
    p {
      margin: 1.8rem auto 0;
    }
  }
}


.text-block__title {
  .gc-section-heading;
  font-family: @font_secondary;
  margin: 0;
  padding: 0;
}
